Repository jplag/JPlag, pull requests merged in 2022-07, with the labels that each got.

#466 Misc Improvements to Report Viewer
  report-viewer/src/App.vue
  report-viewer/src/assets/radar-chart-configuration.ts
  report-viewer/src/components/ClusterRadarChart.vue
  report-viewer/src/components/ClustersList.vue
  report-viewer/src/components/CodePanel.vue
  report-viewer/src/components/ComparisonsTable.vue
  report-viewer/src/components/FilesContainer.vue
  report-viewer/src/components/LineOfCode.vue
  report-viewer/src/components/TextInformation.vue
  report-viewer/src/model/ClusterListElement.ts
  report-viewer/src/model/Comparison.ts
  report-viewer/src/model/Overview.ts
  report-viewer/src/model/factories/ComparisonFactory.ts
  report-viewer/src/router/index.ts
  report-viewer/src/store/store.ts
  report-viewer/src/views/ComparisonView.vue
  report-viewer/src/views/FileUploadView.vue
  report-viewer/src/views/OverviewView.vue
Labels: bug, enhancement, major, report-viewer

#468 Specified versions & cleanup duplicated versions
  .github/workflows/maven.yml
  .github/workflows/publish.yml
  jplag.cli/pom.xml
  pom.xml
Labels: enhancement, minor

#487 Add Max Metric To Report Viewer
  jplag/src/main/java/de/jplag/JPlag.java
  jplag/src/main/java/de/jplag/JPlagResult.java
  jplag/src/main/java/de/jplag/reporting/jsonfactory/JsonFactory.java
  jplag/src/main/java/de/jplag/reporting/reportobject/ReportObjectFactory.java
  jplag/src/main/java/de/jplag/reporting/reportobject/mapper/MetricMapper.java
  jplag/src/main/java/de/jplag/reporting/reportobject/model/JPlagReport.java
  jplag/src/main/java/de/jplag/reporting/reportobject/model/Metric.java
  jplag/src/main/java/de/jplag/reporting/reportobject/model/TopComparison.java
  jplag/src/main/resources/de/jplag/messages.properties
  jplag/src/main/resources/de/jplag/messages_de.properties
  jplag/src/main/resources/de/jplag/messages_en.properties
  jplag/src/main/resources/de/jplag/messages_es.properties
  jplag/src/main/resources/de/jplag/messages_fr.properties
  jplag/src/main/resources/de/jplag/messages_pt.properties
  jplag/src/test/java/de/jplag/BaseCodeTest.java
  jplag/src/test/java/de/jplag/NewJavaFeaturesTest.java
  jplag/src/test/java/de/jplag/NormalComparisonTest.java
  jplag/src/test/java/de/jplag/ParallelComparisonTest.java
  jplag/src/test/java/de/jplag/clustering/ClusteringAdapterTest.java
  jplag/src/test/java/de/jplag/reporting/reportobject/mapper/MetricMapperTest.java
  jplag/src/test/java/de/jplag/special/VolumeTest.java
  jplag/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  report-viewer/src/components/DistributionDiagram.vue
  report-viewer/src/components/MetricButton.vue
  report-viewer/src/model/Metric.ts
  report-viewer/src/model/factories/OverviewFactory.ts
  report-viewer/src/views/OverviewView.vue
Labels: enhancement, minor, report-viewer

#546 Skip sonar scan if build skipped
  .github/workflows/sonarcloud-pr.yml
Labels: github_actions
