Repository jplag/JPlag, pull requests merged in 2022-10, with the labels that each got.

#731 Refactor End to End Tests
  endtoend-testing/README.md
  endtoend-testing/src/main/java/de/jplag/endtoend/constants/TestDirectoryConstants.java
  endtoend-testing/src/main/java/de/jplag/endtoend/helper/FileHelper.java
  endtoend-testing/src/main/java/de/jplag/endtoend/helper/JsonHelper.java
  endtoend-testing/src/main/java/de/jplag/endtoend/helper/TestSuiteHelper.java
  endtoend-testing/src/main/java/de/jplag/endtoend/model/ResultDescription.java
  endtoend-testing/src/test/java/de/jplag/endtoend/EndToEndGeneratorTest.java
  endtoend-testing/src/test/java/de/jplag/endtoend/EndToEndSuiteTest.java
Labels: enhancement, minor, java

#747 Removed C/C++ "scope" token
  languages/cpp/src/main/java/de/jplag/cpp/CPPTokenType.java
  languages/cpp/src/main/javacc/CPP.jj
Labels: enhancement, minor

#748 Filter for deleting tokens in unreachable code
  languages/cpp/src/main/java/de/jplag/cpp/experimental/UnreachableCodeFilter.java
Labels: enhancement, major, language

#761 Make swift identifier public
  languages/swift/src/main/java/de/jplag/swift/Language.java
Labels: bug, minor, language
