Repository jplag/JPlag, pull requests merged in 2023-10, with the labels that each got.

#1322 LLVM IR min token and README adjustments
  languages/llvmir/README.md
  languages/llvmir/src/main/java/de/jplag/llvmir/LLVMIRLanguage.java
Labels: enhancement, minor, language

#1330 Feature/rewrite csharp module
  language-testutils/src/test/java/de/jplag/testutils/datacollector/TestSourceIgnoredLinesCollector.java
  languages/csharp/pom.xml
  languages/csharp/src/main/java/de/jplag/csharp/CSharpLanguage.java
  languages/csharp/src/main/java/de/jplag/csharp/CSharpListener.java
  languages/csharp/src/main/java/de/jplag/csharp/CSharpParserAdapter.java
  languages/csharp/src/main/java/de/jplag/csharp/CSharpTokenType.java
  languages/csharp/src/test/java/de/jplag/csharp/CSharpTest.java
  languages/csharp/src/test/java/de/jplag/csharp/MinimalCSharpTest.java
  languages/csharp/src/test/resources/de/jplag/csharp/AllInOneNoPreprocessor.cs
  languages/csharp/src/test/resources/de/jplag/csharp/TestClass.cs
Labels: enhancement, major, language

#1351 Made the GreedyStringTiling class deterministic in case both submissi…
  core/src/main/java/de/jplag/GreedyStringTiling.java
Labels: enhancement, minor
