Repository jplag/JPlag, pull requests merged in 2023-02, with the labels that each got.

#910 Report viewer: Allow loading results by URL
  report-viewer/src/utils/Utils.ts
  report-viewer/src/views/FileUploadView.vue
Labels: enhancement, minor, report-viewer

#878 Enhance/version check
  report-viewer/src/model/factories/OverviewFactory.ts
  report-viewer/src/version.json
  report-viewer/tsconfig.json
Labels: enhancement, minor, report-viewer

#900 Enhance/color
  report-viewer/src/model/factories/ComparisonFactory.ts
Labels: enhancement, minor, report-viewer

#899 Enhance/warning if some comparisions missing
  core/src/main/java/de/jplag/reporting/reportobject/ReportObjectFactory.java
  core/src/main/java/de/jplag/reporting/reportobject/model/OverviewReport.java
  report-viewer/src/components/CodePanel.vue
  report-viewer/src/model/Overview.ts
  report-viewer/src/model/factories/OverviewFactory.ts
  report-viewer/src/views/FileUploadView.vue
  report-viewer/src/views/OverviewView.vue
Labels: enhancement, minor, report-viewer

#923 Enhance/add error page if overview or comparison missing
  report-viewer/src/components/ErrorMessage.vue
  report-viewer/src/components/ErrorRouter.vue
  report-viewer/src/router/index.ts
  report-viewer/src/store/store.ts
  report-viewer/src/views/ComparisonView.vue
  report-viewer/src/views/ErrorView.vue
  report-viewer/src/views/FileUploadView.vue
  report-viewer/src/views/OverviewView.vue
Labels: enhancement, minor, report-viewer

#911 Prevent extraction of superfluous block tokens by the Java language module
  core/src/test/java/de/jplag/BaseCodeTest.java
  core/src/test/java/de/jplag/BasicFunctionalityTest.java
  core/src/test/resources/de/jplag/samples/NoDuplicate/B/NoDuplicate.java
  core/src/test/resources/de/jplag/samples/PartialPlagiarism/E/WhatAmIDoingHere.java
  core/src/test/resources/de/jplag/samples/SimpleDuplicate/A/SimpleDuplicate.java
  core/src/test/resources/de/jplag/samples/SimpleDuplicate/B/SimpleDuplicate.java
  core/src/test/resources/de/jplag/samples/SimpleSingleFile/SimpleDuplicateA.java
  core/src/test/resources/de/jplag/samples/SimpleSingleFile/SimpleDuplicateB.java
  core/src/test/resources/de/jplag/samples/SubdirectoryBase/src/SimpleDuplicate.java
  core/src/test/resources/de/jplag/samples/SubdirectoryDuplicate/A/src/SimpleDuplicate.java
  core/src/test/resources/de/jplag/samples/SubdirectoryDuplicate/B/src/SimpleDuplicate.java
  core/src/test/resources/de/jplag/samples/SubdirectoryDuplicate/Base/src/SimpleDuplicate.java
  endtoend-testing/src/test/resources/results/java/sortAlgo.json
  language-api/pom.xml
  language-api/src/main/java/de/jplag/Token.java
  languages/java/src/main/java/de/jplag/java/JavaTokenType.java
  languages/java/src/main/java/de/jplag/java/TokenGeneratingTreeScanner.java
  languages/java/src/test/java/de/jplag/java/JavaBlockTest.java
  languages/java/src/test/resources/java/Compact.java
  languages/java/src/test/resources/java/IfWithBraces.java
  languages/java/src/test/resources/java/IfWithoutBraces.java
  languages/java/src/test/resources/java/Verbose.java
Labels: bug, minor, language

#928 Add Version to Report Viewer
  .github/workflows/report-viewer-dev.yml
  .github/workflows/report-viewer-test.yml
  .github/workflows/report-viewer.yml
Labels: enhancement, minor, report-viewer

#926 Improve the end-to-end tests by adding summary tests
  core/src/main/java/de/jplag/options/SimilarityMetric.java
  endtoend-testing/README.md
  endtoend-testing/src/main/java/de/jplag/endtoend/helper/DeltaSummaryStatistics.java
  endtoend-testing/src/main/java/de/jplag/endtoend/model/ExpectedResult.java
  endtoend-testing/src/test/java/de/jplag/endtoend/EndToEndSuiteTest.java
Labels: enhancement, minor

#938 Clean-up dependencies of the core project
  core/pom.xml
  core/src/test/java/de/jplag/special/TokenPrinterTest.java
Labels: enhancement, minor

#939 Fix OS-specific issue in the emfatic test case
  languages/emf-metamodel/src/test/java/de/jplag/emf/util/EmfaticModelViewTest.java
Labels: bug, minor, language

#940 Fix two minor issues with the Java language module token extraction
  core/src/test/java/de/jplag/BasicFunctionalityTest.java
  languages/java/src/main/java/de/jplag/java/JavaTokenType.java
  languages/java/src/main/java/de/jplag/java/TokenGeneratingTreeScanner.java
  languages/java/src/test/java/de/jplag/java/AbstractJavaLanguageTest.java
  languages/java/src/test/java/de/jplag/java/JavaBlockTest.java
  languages/java/src/test/java/de/jplag/java/JavaTryTest.java
  languages/java/src/test/resources/java/Try.java
  languages/java/src/test/resources/java/TryWithResource.java
Labels: bug, minor, language

#950 Quick fix display of missingComparison
  report-viewer/src/views/OverviewView.vue
Labels: bug, minor, report-viewer

#949 add logging
  core/src/main/java/de/jplag/reporting/reportobject/ReportObjectFactory.java
  core/src/main/java/de/jplag/strategy/AbstractComparisonStrategy.java
  report-viewer/src/views/ComparisonView.vue
  report-viewer/src/views/FileUploadView.vue
  report-viewer/src/views/OverviewView.vue
Labels: enhancement, minor, report-viewer
