Repository jplag/JPlag, pull requests merged in 2023-04, with the labels that each got.

#1005 Speed up comparison
  core/src/main/java/de/jplag/GreedyStringTiling.java
  core/src/main/java/de/jplag/SubsequenceHashLookupTable.java
Labels: enhancement, minor

#1003 Prevent changing the Java token sequence via changing if-else statements.
  core/src/test/java/de/jplag/BasicFunctionalityTest.java
  endtoend-testing/src/test/resources/results/java/sortAlgo.json
  languages/java/src/main/java/de/jplag/java/JavaTokenType.java
  languages/java/src/main/java/de/jplag/java/TokenGeneratingTreeScanner.java
  languages/java/src/test/java/de/jplag/java/JavaIfElseTest.java
  languages/java/src/test/resources/java/IfElse.java
  languages/java/src/test/resources/java/IfElseIf.java
  languages/java/src/test/resources/java/IfIf.java
Labels: bug, minor, language

#1034 Move Report Viewer to Composition API
  report-viewer/src/components/ClusterRadarChart.vue
  report-viewer/src/components/ClustersList.vue
  report-viewer/src/components/CodePanel.vue
  report-viewer/src/components/ComparisonsTable.vue
  report-viewer/src/components/DistributionDiagram.vue
  report-viewer/src/components/ErrorMessage.vue
  report-viewer/src/components/ErrorRouter.vue
  report-viewer/src/components/FilesContainer.vue
  report-viewer/src/components/IDsList.vue
  report-viewer/src/components/LineOfCode.vue
  report-viewer/src/components/MatchTable.vue
  report-viewer/src/components/MetricButton.vue
  report-viewer/src/components/TextInformation.vue
  report-viewer/src/views/ComparisonView.vue
  report-viewer/src/views/ErrorView.vue
  report-viewer/src/views/FileUploadView.vue
  report-viewer/src/views/OverviewView.vue
Labels: enhancement, minor, report-viewer

#1007 Add token string normalization
  core/pom.xml
  core/src/main/java/de/jplag/Submission.java
  core/src/main/java/de/jplag/SubmissionSet.java
  core/src/main/java/de/jplag/normalization/Edge.java
  core/src/main/java/de/jplag/normalization/EdgeType.java
  core/src/main/java/de/jplag/normalization/MultipleEdge.java
  core/src/main/java/de/jplag/normalization/NormalizationGraphConstructor.java
  core/src/main/java/de/jplag/normalization/Statement.java
  core/src/main/java/de/jplag/normalization/StatementBuilder.java
  core/src/main/java/de/jplag/normalization/TokenStringNormalizer.java
  core/src/test/java/de/jplag/NormalizationTest.java
  core/src/test/java/de/jplag/TestBase.java
  core/src/test/resources/de/jplag/samples/normalization/Squares.java
  core/src/test/resources/de/jplag/samples/normalization/SquaresInserted.java
  core/src/test/resources/de/jplag/samples/normalization/SquaresInsertedReordered.java
  core/src/test/resources/de/jplag/samples/normalization/SquaresReordered.java
  language-api/src/main/java/de/jplag/Language.java
  language-api/src/main/java/de/jplag/Token.java
  language-api/src/main/java/de/jplag/semantics/CodeSemantics.java
  language-api/src/main/java/de/jplag/semantics/PositionSignificance.java
  language-api/src/main/java/de/jplag/semantics/Variable.java
  language-api/src/main/java/de/jplag/semantics/VariableAccessType.java
  language-api/src/main/java/de/jplag/semantics/VariableRegistry.java
  language-api/src/main/java/de/jplag/semantics/VariableScope.java
  languages/java/src/main/java/de/jplag/java/JavacAdapter.java
  languages/java/src/main/java/de/jplag/java/Language.java
  languages/java/src/main/java/de/jplag/java/Parser.java
  languages/java/src/main/java/de/jplag/java/TokenGeneratingTreeScanner.java
Labels: enhancement, major, language

#1026 Feature/file encoding
  core/src/main/java/de/jplag/options/JPlagOptions.java
  language-api/pom.xml
  language-api/src/main/java/de/jplag/util/FileUtils.java
  language-api/src/test/java/de/jplag/util/FileUtilTest.java
  language-api/src/test/resources/de/jplag/fileReaderTests/ISO-8859-1
  language-api/src/test/resources/de/jplag/fileReaderTests/UTF-16LE
  language-api/src/test/resources/de/jplag/fileReaderTests/UTF-32BE
  language-api/src/test/resources/de/jplag/fileReaderTests/UTF-8
  language-api/src/test/resources/de/jplag/fileSetEncoding/ascii1
  language-api/src/test/resources/de/jplag/fileSetEncoding/ascii2
  language-api/src/test/resources/de/jplag/fileSetEncoding/notAscii
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPParserAdapter.java
  languages/csharp/src/main/java/de/jplag/csharp/CSharpParserAdapter.java
  languages/golang/src/main/java/de/jplag/golang/GoParserAdapter.java
  languages/java/src/main/java/de/jplag/java/JavacAdapter.java
  languages/python-3/src/main/java/de/jplag/python3/Parser.java
  languages/rlang/src/main/java/de/jplag/rlang/RParserAdapter.java
  languages/rust/src/main/java/de/jplag/rust/RustParserAdapter.java
  languages/scala/src/main/scala/de/jplag/scala/Parser.scala
  languages/scheme/src/main/javacc/Scheme.jj
  languages/swift/src/main/java/de/jplag/swift/SwiftParserAdapter.java
  languages/text/src/main/java/de/jplag/text/ParserAdapter.java
Labels: bug, minor

#1030 Add SCXML language module
  cli/pom.xml
  cli/src/test/java/de/jplag/cli/LanguageTest.java
  coverage-report/pom.xml
  languages/pom.xml
  languages/scxml/README.md
  languages/scxml/pom.xml
  languages/scxml/src/main/java/de/jplag/scxml/ScxmlLanguage.java
  languages/scxml/src/main/java/de/jplag/scxml/ScxmlToken.java
  languages/scxml/src/main/java/de/jplag/scxml/ScxmlTokenType.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/HandcraftedScxmlTokenGenerator.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/PeekAdapter.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/ScxmlParser.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/ScxmlParserAdapter.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/SimpleScxmlTokenGenerator.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/model/State.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/model/Statechart.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/model/StatechartElement.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/model/Transition.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/model/executable_content/Action.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/model/executable_content/Cancel.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/model/executable_content/Else.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/model/executable_content/ElseIf.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/model/executable_content/ExecutableContent.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/model/executable_content/ForEach.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/model/executable_content/If.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/model/executable_content/Send.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/model/executable_content/SimpleExecutableContent.java
  languages/scxml/src/main/java/de/jplag/scxml/parser/util/NodeUtil.java
  languages/scxml/src/main/java/de/jplag/scxml/sorting/NoOpSortingStrategy.java
  languages/scxml/src/main/java/de/jplag/scxml/sorting/RecursiveSortingStrategy.java
  languages/scxml/src/main/java/de/jplag/scxml/sorting/SimpleSortingStrategy.java
  languages/scxml/src/main/java/de/jplag/scxml/sorting/SortingStrategy.java
  languages/scxml/src/main/java/de/jplag/scxml/util/AbstractScxmlVisitor.java
  languages/scxml/src/main/java/de/jplag/scxml/util/ScxmlView.java
  languages/scxml/src/test/java/de/jplag/scxml/ConfigurableScxmlParserAdapter.java
  languages/scxml/src/test/java/de/jplag/scxml/ScxmlParserTest.java
  languages/scxml/src/test/java/de/jplag/scxml/ScxmlTokenGeneratorTest.java
  languages/scxml/src/test/java/de/jplag/scxml/util/StateBuilder.java
  languages/scxml/src/test/resources/de/jplag/statecharts/complex.scxml
  languages/scxml/src/test/resources/de/jplag/statecharts/complex_expected_scxmlview
  languages/scxml/src/test/resources/de/jplag/statecharts/complex_reordered.scxml
  languages/scxml/src/test/resources/de/jplag/statecharts/conditional.scxml
  languages/scxml/src/test/resources/de/jplag/statecharts/coverage.scxml
  languages/scxml/src/test/resources/de/jplag/statecharts/simple.scxml
  languages/scxml/src/test/resources/de/jplag/statecharts/timed_transition.scxml
Labels: enhancement, major, language
