Repository jplag/JPlag, pull requests merged in 2023-08, with the labels that each got.

#1204 Updated the java tests to use the new test framework
  core/src/test/java/de/jplag/BasicFunctionalityTest.java
  languages/java/src/main/java/de/jplag/java/TokenGeneratingTreeScanner.java
  languages/java/src/test/java/de/jplag/java/AbstractJavaLanguageTest.java
  languages/java/src/test/java/de/jplag/java/JavaBlockTest.java
  languages/java/src/test/java/de/jplag/java/JavaIfElseTest.java
  languages/java/src/test/java/de/jplag/java/JavaLanguageTest.java
  languages/java/src/test/java/de/jplag/java/JavaTryTest.java
  languages/java/src/test/resources/de/jplag/java/CLI.java
  languages/java/src/test/resources/de/jplag/java/Compact.java
  languages/java/src/test/resources/de/jplag/java/IfElse.java
  languages/java/src/test/resources/de/jplag/java/IfElseIf.java
  languages/java/src/test/resources/de/jplag/java/IfIf.java
  languages/java/src/test/resources/de/jplag/java/IfWithBraces.java
  languages/java/src/test/resources/de/jplag/java/IfWithoutBraces.java
  languages/java/src/test/resources/de/jplag/java/Try.java
  languages/java/src/test/resources/de/jplag/java/TryWithResource.java
  languages/java/src/test/resources/de/jplag/java/Verbose.java
Labels: enhancement, minor, language

#1221 Removed the @TempDir annotation, since it caused some warnings
  languages/text/src/test/java/jplag/text/NaturalLanguageTest.java
Labels: bug, minor

#1223 Adapt loop tokenization rules of the Java language module
  endtoend-testing/src/test/resources/results/java/sortAlgo.json
  languages/java/src/main/java/de/jplag/java/JavaTokenType.java
  languages/java/src/main/java/de/jplag/java/TokenGeneratingTreeScanner.java
  languages/java/src/test/java/de/jplag/java/JavaLanguageTest.java
Labels: enhancement, minor, language

#1225 Run automatic cleanup on source code
  cli/src/main/java/de/jplag/cli/logger/CollectedLogger.java
  cli/src/main/java/de/jplag/cli/logger/CollectedLoggerFactory.java
  core/src/main/java/de/jplag/options/JPlagOptions.java
  core/src/test/java/de/jplag/LegacyBaseCodeTest.java
  language-api/src/main/java/de/jplag/SharedTokenType.java
  language-api/src/test/java/de/jplag/TokenPrinterTest.java
  languages/cpp/src/main/java/de/jplag/cpp/CPPTokenType.java
  languages/cpp/src/main/java/de/jplag/cpp/experimental/GCCSourceAnalysis.java
  languages/csharp/src/main/java/de/jplag/csharp/CSharpTokenType.java
  languages/emf-metamodel-dynamic/src/test/java/de/jplag/emf/dynamic/MinimalDynamicMetamodelTest.java
  languages/golang/src/main/java/de/jplag/golang/GoTokenType.java
  languages/java/src/main/java/de/jplag/java/JavaTokenType.java
  languages/kotlin/src/main/java/de/jplag/kotlin/KotlinTokenType.java
  languages/python-3/src/main/java/de/jplag/python3/Python3TokenType.java
  languages/rlang/src/main/java/de/jplag/rlang/RTokenType.java
  languages/rust/src/main/java/de/jplag/rust/RustTokenType.java
  languages/scala/src/main/scala/de/jplag/scala/ScalaTokenType.java
  languages/scheme/src/main/java/de/jplag/scheme/SchemeTokenType.java
  languages/scxml/src/main/java/de/jplag/scxml/ScxmlTokenType.java
  languages/swift/src/main/java/de/jplag/swift/SwiftTokenType.java
  languages/text/src/main/java/de/jplag/text/TextTokenType.java
Labels: enhancement, minor, language

#1227 Fix the token to line mapping for the EMF language and the Emfatic views
  language-testutils/src/test/java/de/jplag/testutils/datacollector/TestDataCollector.java
  languages/emf-metamodel/src/main/java/de/jplag/emf/util/EmfaticModelView.java
  languages/emf-metamodel/src/test/java/de/jplag/emf/AbstractEmfTest.java
  languages/emf-metamodel/src/test/java/de/jplag/emf/EmfLanguageTest.java
  languages/emf-metamodel/src/test/resources/de/jplag/emf/bookStore.ecore
  languages/emf-metamodel/src/test/resources/de/jplag/emf/bookStoreExtended.ecore
  languages/emf-metamodel/src/test/resources/de/jplag/emf/bookStoreExtendedRefactor.ecore
  languages/emf-metamodel/src/test/resources/de/jplag/emf/bookStoreRenamed.ecore
Labels: bug, minor, language

#1220 Improves the help output for the cli.
  cli/src/main/java/de/jplag/cli/CLI.java
  cli/src/main/java/de/jplag/cli/CustomHelp.java
  cli/src/main/java/de/jplag/cli/HelpFactory.java
  cli/src/main/java/de/jplag/cli/ParamLabelRenderer.java
  cli/src/test/java/de/jplag/cli/CustomHelpTests.java
  cli/src/test/java/de/jplag/cli/ParamLabelRendererTest.java
Labels: enhancement, minor

#1236 Fixed an error when extracting the token length
  language-antlr-utils/src/main/java/de/jplag/antlr/TokenBuilder.java
Labels: bug, minor, language

#1226 Improve error messages for the java language feature test
  core/src/test/java/de/jplag/NewJavaFeaturesTest.java
  core/src/test/java/de/jplag/TestBase.java
  coverage-report/pom.xml
Labels: enhancement, minor

#1202 Match merging against obfuscation
  cli/src/main/java/de/jplag/cli/CLI.java
  cli/src/main/java/de/jplag/cli/CliOptions.java
  core/src/main/java/de/jplag/GreedyStringTiling.java
  core/src/main/java/de/jplag/JPlag.java
  core/src/main/java/de/jplag/JPlagComparison.java
  core/src/main/java/de/jplag/Submission.java
  core/src/main/java/de/jplag/merging/MatchMerging.java
  core/src/main/java/de/jplag/merging/MergingParameters.java
  core/src/main/java/de/jplag/merging/Neighbor.java
  core/src/main/java/de/jplag/options/JPlagOptions.java
  core/src/test/java/de/jplag/merging/MergingTest.java
  core/src/test/resources/de/jplag/samples/merging/oneFile/a.java
  core/src/test/resources/de/jplag/samples/merging/original.java
  core/src/test/resources/de/jplag/samples/merging/plag.java
  core/src/test/resources/de/jplag/samples/merging/twoFiles/b1.java
  core/src/test/resources/de/jplag/samples/merging/twoFiles/b2.java
Labels: enhancement, major

#1189 Slight changes to the report json format
  core/src/main/java/de/jplag/JPlagResult.java
  core/src/main/java/de/jplag/reporting/jsonfactory/ComparisonReportWriter.java
  core/src/main/java/de/jplag/reporting/reportobject/ReportObjectFactory.java
  core/src/main/java/de/jplag/reporting/reportobject/mapper/MetricMapper.java
  core/src/main/java/de/jplag/reporting/reportobject/model/ComparisonReport.java
  core/src/main/java/de/jplag/reporting/reportobject/model/OverviewReport.java
  core/src/main/java/de/jplag/reporting/reportobject/model/TopComparison.java
  core/src/test/java/de/jplag/BaseCodeTest.java
  core/src/test/java/de/jplag/BasicFunctionalityTest.java
  core/src/test/java/de/jplag/reporting/reportobject/mapper/MetricMapperTest.java
  report-viewer/src/components/ComparisonsTable.vue
  report-viewer/src/components/DistributionDiagram.vue
  report-viewer/src/model/Comparison.ts
  report-viewer/src/model/ComparisonListElement.ts
  report-viewer/src/model/Distribution.ts
  report-viewer/src/model/HundredValueDistribution.ts
  report-viewer/src/model/Metric.ts
  report-viewer/src/model/MetricType.ts
  report-viewer/src/model/Overview.ts
  report-viewer/src/model/TenValueDistribution.ts
  report-viewer/src/model/factories/BaseFactory.ts
  report-viewer/src/model/factories/ComparisonFactory.ts
  report-viewer/src/model/factories/OverviewFactory.ts
  report-viewer/src/views/ClusterView.vue
  report-viewer/src/views/ComparisonView.vue
  report-viewer/src/views/OverviewView.vue
  report-viewer/tests/unit/model/Distribution.test.ts
  report-viewer/tests/unit/model/factories/ComparisonFactory.test.ts
  report-viewer/tests/unit/model/factories/OverviewFactory.test.ts
  report-viewer/tests/unit/model/factories/ValidNewComparison.json
  report-viewer/tests/unit/model/factories/ValidNewOverview.json
  report-viewer/tests/unit/model/factories/ValidOldComparison.json
  report-viewer/tests/unit/model/factories/ValidOldOverview.json
  report-viewer/vitest.config.ts
Labels: enhancement, minor, report-viewer

#1250 Remove unnecessary submission length check in GreedyStringTiling
  core/src/main/java/de/jplag/GreedyStringTiling.java
Labels: enhancement, minor

#1240 implement version info
  report-viewer/src/components/VersionInfoComponent.vue
  report-viewer/src/model/Version.ts
  report-viewer/src/model/factories/OverviewFactory.ts
  report-viewer/src/views/FileUploadView.vue
  report-viewer/tailwind.config.js
  report-viewer/tests/unit/components/VersionInfoComponent.test.ts
  report-viewer/vitest.config.ts
Labels: enhancement, minor, report-viewer

#1251 Adjusted behavior, default values and naming of MergingParameters
  cli/src/main/java/de/jplag/cli/CLI.java
  cli/src/main/java/de/jplag/cli/CliOptions.java
  core/src/main/java/de/jplag/GreedyStringTiling.java
  core/src/main/java/de/jplag/JPlag.java
  core/src/main/java/de/jplag/merging/MatchMerging.java
  core/src/main/java/de/jplag/merging/MergingOptions.java
  core/src/main/java/de/jplag/merging/MergingParameters.java
  core/src/main/java/de/jplag/merging/Neighbor.java
  core/src/main/java/de/jplag/options/JPlagOptions.java
  core/src/test/java/de/jplag/merging/MergingTest.java
Labels: enhancement, minor

#1233 Add LLVM IR language module
  README.md
  cli/pom.xml
  cli/src/test/java/de/jplag/cli/LanguageTest.java
  coverage-report/pom.xml
  languages/llvmir/README.md
  languages/llvmir/pom.xml
  languages/llvmir/src/main/antlr4/de/jplag/llvmir/grammar/LLVMIR.g4
  languages/llvmir/src/main/java/de/jplag/llvmir/LLVMIRLanguage.java
  languages/llvmir/src/main/java/de/jplag/llvmir/LLVMIRListener.java
  languages/llvmir/src/main/java/de/jplag/llvmir/LLVMIRParserAdapter.java
  languages/llvmir/src/main/java/de/jplag/llvmir/LLVMIRTokenType.java
  languages/llvmir/src/test/java/de/jplag/llvmir/LLVMIRLanguageTest.java
  languages/llvmir/src/test/resources/de/jplag/llvmir/Complete.ll
  languages/llvmir/src/test/resources/de/jplag/llvmir/NewExceptionHandling.ll
  languages/pom.xml
Labels: enhancement, major, language
