Repository jplag/JPlag, pull requests merged in 2023-03, with the labels that each got.

#951 Enhance/page cannot be reloaded after refreshing
  report-viewer/public/404.html
Labels: bug, minor, report-viewer

#962 Fix develop build
  core/src/main/resources/de/jplag/messages_de.properties
  core/src/main/resources/de/jplag/messages_en.properties
  core/src/main/resources/de/jplag/messages_es.properties
  core/src/main/resources/de/jplag/messages_fr.properties
  core/src/main/resources/de/jplag/messages_pt.properties
Labels: bug, minor

#937 ANTLR grammar based C++ language module
  cli/pom.xml
  cli/src/test/java/de/jplag/cli/LanguageTest.java
  languages/cpp2/README.md
  languages/cpp2/pom.xml
  languages/cpp2/src/main/antlr4/de/jplag/cpp2/grammar/CPP14Lexer.g4
  languages/cpp2/src/main/antlr4/de/jplag/cpp2/grammar/CPP14Parser.g4
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPLanguage.java
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPParserAdapter.java
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPTokenListener.java
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPTokenType.java
  languages/cpp2/src/test/java/de/jplag/cpp2/TokenExtractionTest.java
  languages/pom.xml
Labels: enhancement, major, language

#980 Fix wrongly enforced code style
  cli/src/main/java/de/jplag/cli/logger/Triple.java
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPTokenListener.java
  languages/emf-metamodel/src/main/java/de/jplag/emf/util/EmfaticModelView.java
Labels: bug, minor

#982 fix/match-highlighting-problem
  core/src/main/java/de/jplag/reporting/jsonfactory/ComparisonReportWriter.java
  report-viewer/src/components/ComparisonsTable.vue
Labels: bug, minor

#971 Correctly show matches when the token order is not line index order
  core/src/main/java/de/jplag/Match.java
  core/src/main/java/de/jplag/reporting/jsonfactory/ComparisonReportWriter.java
Labels: bug, minor, report-viewer
