Repository jplag/JPlag, pull requests merged in 2023-01, with the labels that each got.

#830 Generate Java assign token more often
  core/src/test/java/de/jplag/BaseCodeTest.java
  core/src/test/java/de/jplag/BasicFunctionalityTest.java
  endtoend-testing/src/test/resources/results/java/sortAlgo.json
  languages/java/src/main/java/de/jplag/java/TokenGeneratingTreeScanner.java
Labels: enhancement, minor, language

#855 Fix/clicking problem on match highlighting
  report-viewer/src/components/CodePanel.vue
  report-viewer/src/components/FilesContainer.vue
  report-viewer/src/views/ComparisonView.vue
Labels: bug, minor, report-viewer

#877 Enhance/codes selection
  report-viewer/src/components/CodePanel.vue
  report-viewer/src/components/FilesContainer.vue
Labels: enhancement, minor, report-viewer

#854 Fix Java token order in special cases (new)
  languages/java/src/main/java/de/jplag/java/TokenGeneratingTreeScanner.java
Labels: bug, minor

#880 Improve the logging of the clusters created by the clustering factory
  core/src/main/java/de/jplag/clustering/ClusteringFactory.java
Labels: enhancement, minor

#881 Adapt clustering default options
  core/src/main/java/de/jplag/clustering/ClusteringOptions.java
Labels: enhancement, minor

#889 Add jest framework, required configs and examples to the report viewer.
  report-viewer/jest.config.js
  report-viewer/package-lock.json
  report-viewer/package.json
  report-viewer/tests/unit/components/LineOfCode.spec.ts
  report-viewer/tests/unit/model/Comparison.spec.ts
  report-viewer/tsconfig.json
Labels: enhancement, report-viewer

#890 Change documentation of language usage to constructor invocation
  endtoend-testing/README.md
  languages/emf-metamodel-dynamic/README.md
  languages/emf-metamodel/README.md
  languages/golang/README.md
  languages/kotlin/README.md
  languages/rlang/README.md
  languages/rust/README.md
  languages/scala/README.md
  languages/swift/README.md
Labels: bug, minor, language

#898 Partially revert changes to the clustering default values.
  core/src/main/java/de/jplag/clustering/ClusteringOptions.java
Labels: enhancement, minor

#879 Enhance/enable collapsing by clicking file header
  report-viewer/src/components/CodePanel.vue
Labels: enhancement, minor, report-viewer

#901 Update maintainer URLs in the pom.xml
  pom.xml
Labels: enhancement, minor
