Repository jplag/JPlag, pull requests merged in 2023-11, with the labels that each got.

#1279 Overhauled the end to end tests and added the test code from progpedia
  endtoend-testing/pom.xml
  endtoend-testing/src/main/java/de/jplag/endtoend/constants/TestDirectoryConstants.java
  endtoend-testing/src/main/java/de/jplag/endtoend/helper/FileHelper.java
  endtoend-testing/src/main/java/de/jplag/endtoend/helper/LanguageDeserializer.java
  endtoend-testing/src/main/java/de/jplag/endtoend/helper/TestSuiteHelper.java
  endtoend-testing/src/main/java/de/jplag/endtoend/helper/UnzipManager.java
  endtoend-testing/src/main/java/de/jplag/endtoend/model/ComparisonIdentifier.java
  endtoend-testing/src/main/java/de/jplag/endtoend/model/DataSet.java
  endtoend-testing/src/main/java/de/jplag/endtoend/model/DataSetFormat.java
  endtoend-testing/src/main/java/de/jplag/endtoend/model/DataSetRunConfiguration.java
  endtoend-testing/src/main/java/de/jplag/endtoend/model/ExpectedResult.java
  endtoend-testing/src/main/java/de/jplag/endtoend/model/GoldStandard.java
  endtoend-testing/src/main/java/de/jplag/endtoend/model/Options.java
  endtoend-testing/src/main/java/de/jplag/endtoend/model/ResultDescription.java
  endtoend-testing/src/main/java/de/jplag/endtoend/model/StorageFormat.java
  endtoend-testing/src/test/java/de/jplag/endtoend/EndToEndGeneratorTest.java
  endtoend-testing/src/test/java/de/jplag/endtoend/EndToEndSuiteTest.java
  endtoend-testing/src/test/resources/data/progpedia.zip
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo1.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo1_2.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo1_3.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo1_4.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo1_5.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo1_6.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo2.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo2_5.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo3.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo3_5.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo3_6.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo4.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo4d1.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo4d2.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo4d3.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo5.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo6.java
  endtoend-testing/src/test/resources/data/sortAlgo/SortAlgo7.java
  endtoend-testing/src/test/resources/dataSetTemplate.json
  endtoend-testing/src/test/resources/dataSets/progpedia.json
  endtoend-testing/src/test/resources/dataSets/sortAlgo.json
  endtoend-testing/src/test/resources/results/progpedia.json
  endtoend-testing/src/test/resources/results/sortAlgo.json
Labels: enhancement, minor

#1371 Add normalization info to cpp tokens
  core/src/main/java/de/jplag/Submission.java
  core/src/main/java/de/jplag/SubmissionSet.java
  core/src/main/java/de/jplag/normalization/TokenStringNormalizer.java
  language-antlr-utils/src/main/java/de/jplag/antlr/AbstractAntlrListener.java
  language-antlr-utils/src/main/java/de/jplag/antlr/AbstractVisitor.java
  language-antlr-utils/src/main/java/de/jplag/antlr/ContextVisitor.java
  language-antlr-utils/src/main/java/de/jplag/antlr/TokenCollector.java
  language-api/src/main/java/de/jplag/semantics/VariableRegistry.java
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPLanguage.java
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPListener.java
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPParserAdapter.java
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPTokenType.java
Labels: enhancement, major, language

#1370 Java 21
  .github/workflows/maven.yml
  .github/workflows/publish.yml
  .github/workflows/spotless.yml
  core/src/test/java/de/jplag/NewJavaFeaturesTest.java
  core/src/test/resources/de/jplag/samples/NewJavaFeatures/A/Java21.java
  core/src/test/resources/de/jplag/samples/NewJavaFeatures/B/Java21.java
  core/src/test/resources/de/jplag/samples/NewJavaFeatures/blacklist.txt
  languages/java/src/main/java/de/jplag/java/FixedSourcePositions.java
  languages/java/src/main/java/de/jplag/java/JavaLanguage.java
  languages/java/src/main/java/de/jplag/java/JavacAdapter.java
  languages/java/src/main/java/de/jplag/java/TokenGeneratingTreeScanner.java
  languages/java/src/test/java/de/jplag/java/JavaLanguageTest.java
  languages/java/src/test/resources/de/jplag/java/AnonymousVariables.java
  languages/java/src/test/resources/de/jplag/java/PatternMatching.java
  languages/java/src/test/resources/de/jplag/java/PatternMatchingManual.java
  languages/java/src/test/resources/de/jplag/java/StringConcat.java
  languages/java/src/test/resources/de/jplag/java/StringTemplate.java
  pom.xml
Labels: enhancement, minor, language

#1362 Rework report viewer error handling
  report-viewer/src/main.ts
  report-viewer/src/router/index.ts
  report-viewer/src/viewWrapper/ClusterViewWrapper.vue
  report-viewer/src/viewWrapper/ComparisonViewWrapper.vue
  report-viewer/src/viewWrapper/InformationViewWrapper.vue
  report-viewer/src/viewWrapper/OverviewViewWrapper.vue
  report-viewer/src/views/ClusterView.vue
  report-viewer/src/views/ComparisonView.vue
  report-viewer/src/views/ErrorView.vue
  report-viewer/src/views/FileUploadView.vue
  report-viewer/src/views/InformationView.vue
  report-viewer/src/views/OverviewView.vue
Labels: enhancement, minor, report-viewer

#1387 Python tests rewrite
  language-testutils/src/test/java/de/jplag/testutils/datacollector/TestSourceIgnoredLinesCollector.java
  languages/python-3/src/test/java/de/jplag/python3/PythonLanguageCoverageTest.java
  languages/python-3/src/test/java/de/jplag/python3/PythonLanguageSequenceTest.java
  languages/python-3/src/test/java/de/jplag/python3/PythonLanguageTest.java
Labels: enhancement, minor, language
