Repository jplag/JPlag, pull requests merged in 2023-09, with the labels that each got.

#1260 Add Typescript language module
  README.md
  cli/pom.xml
  cli/src/test/java/de/jplag/cli/LanguageTest.java
  coverage-report/pom.xml
  language-api/src/main/java/de/jplag/options/OptionType.java
  languages/pom.xml
  languages/typescript/README.md
  languages/typescript/pom.xml
  languages/typescript/src/main/antlr4/de/jplag/typescript/grammar/TypeScriptLexer.g4
  languages/typescript/src/main/antlr4/de/jplag/typescript/grammar/TypeScriptParser.g4
  languages/typescript/src/main/java/de/jplag/typescript/TypeScriptLanguage.java
  languages/typescript/src/main/java/de/jplag/typescript/TypeScriptLanguageOptions.java
  languages/typescript/src/main/java/de/jplag/typescript/TypeScriptListener.java
  languages/typescript/src/main/java/de/jplag/typescript/TypeScriptParserAdapter.java
  languages/typescript/src/main/java/de/jplag/typescript/TypeScriptTokenType.java
  languages/typescript/src/main/java/de/jplag/typescript/grammar/TypeScriptLexerBase.java
  languages/typescript/src/main/java/de/jplag/typescript/grammar/TypeScriptParserBase.java
  languages/typescript/src/test/java/de/jplag/typescript/JavaScriptLanguageTest.java
  languages/typescript/src/test/java/de/jplag/typescript/TypeScriptLanguageTest.java
  languages/typescript/src/test/resources/de/jplag/typescript/allJSTokens.js
  languages/typescript/src/test/resources/de/jplag/typescript/allTokens.ts
  languages/typescript/src/test/resources/de/jplag/typescript/class.ts
  languages/typescript/src/test/resources/de/jplag/typescript/forLoops.ts
  languages/typescript/src/test/resources/de/jplag/typescript/if.ts
  languages/typescript/src/test/resources/de/jplag/typescript/methods.ts
  languages/typescript/src/test/resources/de/jplag/typescript/simpleTest.ts
Labels: enhancement, major, language

#1263 Re-write/Fix antlr-utils
  language-antlr-utils/src/main/java/de/jplag/antlr/AbstractAntlrListener.java
  language-antlr-utils/src/main/java/de/jplag/antlr/AbstractAntlrParserAdapter.java
  language-antlr-utils/src/main/java/de/jplag/antlr/AbstractVisitor.java
  language-antlr-utils/src/main/java/de/jplag/antlr/ContextTokenBuilder.java
  language-antlr-utils/src/main/java/de/jplag/antlr/ContextTokenBuilderType.java
  language-antlr-utils/src/main/java/de/jplag/antlr/ContextVisitor.java
  language-antlr-utils/src/main/java/de/jplag/antlr/HandlerData.java
  language-antlr-utils/src/main/java/de/jplag/antlr/InternalListener.java
  language-antlr-utils/src/main/java/de/jplag/antlr/InternalListenerException.java
  language-antlr-utils/src/main/java/de/jplag/antlr/RangeBuilder.java
  language-antlr-utils/src/main/java/de/jplag/antlr/TerminalTokenBuilder.java
  language-antlr-utils/src/main/java/de/jplag/antlr/TerminalVisitor.java
  language-antlr-utils/src/main/java/de/jplag/antlr/TokenBuilder.java
  language-antlr-utils/src/main/java/de/jplag/antlr/TokenCollector.java
  language-antlr-utils/src/test/java/de/jplag/antlr/testLanguage/TestListener.java
  language-antlr-utils/src/test/java/de/jplag/antlr/testLanguage/TestParserAdapter.java
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPListener.java
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPParserAdapter.java
  languages/kotlin/src/main/java/de/jplag/kotlin/KotlinListener.java
  languages/kotlin/src/main/java/de/jplag/kotlin/KotlinParserAdapter.java
  languages/llvmir/src/main/java/de/jplag/llvmir/LLVMIRListener.java
  languages/llvmir/src/main/java/de/jplag/llvmir/LLVMIRParserAdapter.java
  languages/typescript/src/main/java/de/jplag/typescript/TypeScriptListener.java
  languages/typescript/src/main/java/de/jplag/typescript/TypeScriptParserAdapter.java
Labels: enhancement, minor, language

#1301 Allow passing multiple options in the "Advanced" group
  cli/src/main/java/de/jplag/cli/CliOptions.java
  cli/src/test/java/de/jplag/cli/AdvancedGroupTest.java
Labels: enhancement, minor

#1320 Wrapper for async Views
  report-viewer/src/App.vue
  report-viewer/src/components/LoadingCircle.vue
  report-viewer/src/router/index.ts
  report-viewer/src/viewWrapper/ClusterViewWrapper.vue
  report-viewer/src/viewWrapper/ComparisonViewWrapper.vue
  report-viewer/src/viewWrapper/InformationViewWrapper.vue
  report-viewer/src/viewWrapper/OverviewViewWrapper.vue
  report-viewer/src/views/ClusterView.vue
  report-viewer/src/views/ComparisonView.vue
  report-viewer/src/views/FileUploadView.vue
  report-viewer/src/views/InformationView.vue
  report-viewer/src/views/OverviewView.vue
Labels: bug, enhancement, minor
