Repository jplag/JPlag, pull requests merged in 2023-07, with the labels that each got.

#1175 Prevent random exceptions when Emfatic is unable to provide a textual model view for EMF
  core/src/main/java/de/jplag/Submission.java
  languages/emf-metamodel/src/main/java/de/jplag/emf/parser/EcoreParser.java
  languages/emf-metamodel/src/main/java/de/jplag/emf/util/EmfaticModelView.java
  languages/emf-metamodel/src/test/java/de/jplag/emf/util/EmfaticModelViewTest.java
Labels: bug, minor, language

#1145 Report Viewer Redesign
  report-viewer/package-lock.json
  report-viewer/package.json
  report-viewer/postcss.config.js
  report-viewer/src/App.vue
  report-viewer/src/assets/double_arrow_black_18dp.svg
  report-viewer/src/assets/double_arrow_black_24dp.svg
  report-viewer/src/assets/help_outline_black_18dp.svg
  report-viewer/src/assets/help_outline_black_24dp.svg
  report-viewer/src/assets/jplag-dark-transparent.png
  report-viewer/src/assets/jplag-light-transparent.png
  report-viewer/src/assets/keyboard_arrow_down_black_18dp.svg
  report-viewer/src/assets/keyboard_double_arrow_down_black_18dp.svg
  report-viewer/src/assets/keyboard_double_arrow_left_black_18dp.svg
  report-viewer/src/assets/keyboard_double_arrow_left_black_24dp.svg
  report-viewer/src/assets/keyboard_double_arrow_up_black_18dp.svg
  report-viewer/src/assets/logo-nobg.png
  report-viewer/src/assets/radar-chart-configuration.ts
  report-viewer/src/components/ButtonComponent.vue
  report-viewer/src/components/ClusterRadarChart.vue
  report-viewer/src/components/ClustersList.vue
  report-viewer/src/components/CodePanel.vue
  report-viewer/src/components/ComparisonsTable.vue
  report-viewer/src/components/ContainerComponent.vue
  report-viewer/src/components/DistributionDiagram.vue
  report-viewer/src/components/DropDownSelector.vue
  report-viewer/src/components/ErrorMessage.vue
  report-viewer/src/components/ErrorRouter.vue
  report-viewer/src/components/FilesContainer.vue
  report-viewer/src/components/IDsList.vue
  report-viewer/src/components/InteractableComponent.vue
  report-viewer/src/components/LineOfCode.vue
  report-viewer/src/components/MatchList.vue
  report-viewer/src/components/MatchTable.vue
  report-viewer/src/components/MetricButton.vue
  report-viewer/src/components/OptionsSelectorComponent.vue
  report-viewer/src/components/ScrollableComponent.vue
  report-viewer/src/components/SearchBarComponent.vue
  report-viewer/src/components/TextInformation.vue
  report-viewer/src/main.ts
  report-viewer/src/model/ClusterListElement.ts
  report-viewer/src/model/ComparisonListElement.ts
  report-viewer/src/model/Distribution.ts
  report-viewer/src/model/MetricType.ts
  report-viewer/src/model/Overview.ts
  report-viewer/src/model/factories/ComparisonFactory.ts
  report-viewer/src/model/factories/OverviewFactory.ts
  report-viewer/src/router/index.ts
  report-viewer/src/stores/state.ts
  report-viewer/src/stores/store.ts
  report-viewer/src/style.css
  report-viewer/src/utils/ColorUtils.ts
  report-viewer/src/utils/ComparisonUtils.ts
  report-viewer/src/views/ClusterView.vue
  report-viewer/src/views/ComparisonView.vue
  report-viewer/src/views/ErrorView.vue
  report-viewer/src/views/FileUploadView.vue
  report-viewer/src/views/InformationView.vue
  report-viewer/src/views/OverviewView.vue
  report-viewer/tailwind.config.js
Labels: enhancement, major, report-viewer

#1167 Feature/refactor cpp2 language module
  coverage-report/pom.xml
  language-antlr-utils/src/main/java/de/jplag/antlr/AbstractAntlrListener.java
  language-api/src/main/java/de/jplag/TokenPrinter.java
  language-testutils/src/test/java/de/jplag/testutils/LanguageModuleTest.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/FileTestData.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/InlineTestData.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/TestDataCollector.java
  languages/cpp2/README.md
  languages/cpp2/pom.xml
  languages/cpp2/src/main/antlr4/de/jplag/cpp2/grammar/CPP14Parser.g4
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPLanguage.java
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPListener.java
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPParserAdapter.java
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPTokenListener.java
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPTokenType.java
  languages/cpp2/src/test/java/de/jplag/cpp2/CppLanguageTest.java
  languages/cpp2/src/test/java/de/jplag/cpp2/TokenExtractionTest.java
  languages/cpp2/src/test/resources/de/jplag/cpp2/CallOutsideMethodInClass.cpp
  languages/cpp2/src/test/resources/de/jplag/cpp2/FunctionCall.cpp
  languages/cpp2/src/test/resources/de/jplag/cpp2/IfElse.cpp
  languages/cpp2/src/test/resources/de/jplag/cpp2/IntArray.cpp
  languages/cpp2/src/test/resources/de/jplag/cpp2/Loop.cpp
  languages/cpp2/src/test/resources/de/jplag/cpp2/Union.cpp
  languages/cpp2/src/test/resources/de/jplag/cpp2/bc6h_enc.h
Labels: enhancement, major, language

#1177 Expanded the language-antlr-utils to allow the extraction of semantic…
  language-antlr-utils/src/main/java/de/jplag/antlr/AbstractAntlrListener.java
  language-antlr-utils/src/main/java/de/jplag/antlr/ContextTokenBuilder.java
  language-antlr-utils/src/main/java/de/jplag/antlr/ContextTokenBuilderType.java
  language-antlr-utils/src/main/java/de/jplag/antlr/InternalListenerException.java
  language-antlr-utils/src/main/java/de/jplag/antlr/RangeBuilder.java
  language-antlr-utils/src/main/java/de/jplag/antlr/TerminalTokenBuilder.java
  language-antlr-utils/src/main/java/de/jplag/antlr/TokenBuilder.java
  language-antlr-utils/src/main/java/de/jplag/antlr/TypeBuilder.java
  language-antlr-utils/src/test/antlr4/de/jplag/antlr/TestLexer.g4
  language-antlr-utils/src/test/antlr4/de/jplag/antlr/TestParser.g4
  language-antlr-utils/src/test/java/de/jplag/antlr/testLanguage/TestListener.java
  language-antlr-utils/src/test/java/de/jplag/antlr/testLanguage/TestTokenType.java
Labels: enhancement, minor, language

#1122 Changed all language class names and added READMEs where they where missing
  README.md
  cli/src/main/java/de/jplag/cli/CliOptions.java
  core/src/test/java/de/jplag/TestBase.java
  core/src/test/java/de/jplag/special/ReadmeCodeExampleTest.java
  docs/1.-How-to-Use-JPlag.md
  languages/csharp/README.md
  languages/csharp/src/main/java/de/jplag/csharp/CSharpLanguage.java
  languages/csharp/src/test/java/de/jplag/csharp/MinimalCSharpTest.java
  languages/emf-metamodel-dynamic/README.md
  languages/emf-metamodel-dynamic/src/main/java/de/jplag/emf/dynamic/DynamicEmfLanguage.java
  languages/emf-metamodel-dynamic/src/test/java/de/jplag/emf/dynamic/MinimalDynamicMetamodelTest.java
  languages/emf-metamodel/README.md
  languages/emf-metamodel/src/main/java/de/jplag/emf/EmfLanguage.java
  languages/emf-metamodel/src/main/java/de/jplag/emf/parser/EcoreParser.java
  languages/emf-metamodel/src/test/java/de/jplag/emf/AbstractEmfTest.java
  languages/emf-metamodel/src/test/java/de/jplag/emf/MinimalMetamodelTest.java
  languages/emf-metamodel/src/test/java/de/jplag/emf/util/EmfaticModelViewTest.java
  languages/emf-model/src/main/java/de/jplag/emf/model/EmfModelLanguage.java
  languages/emf-model/src/main/java/de/jplag/emf/model/parser/DynamicModelParser.java
  languages/emf-model/src/test/java/de/jplag/emf/model/MinimalModelInstanceTest.java
  languages/golang/README.md
  languages/golang/src/main/java/de/jplag/golang/GoLanguage.java
  languages/golang/src/test/java/de/jplag/golang/GoLanguageTest.java
  languages/java/README.md
  languages/java/src/main/java/de/jplag/java/JavaLanguage.java
  languages/java/src/test/java/de/jplag/java/AbstractJavaLanguageTest.java
  languages/kotlin/README.md
  languages/kotlin/src/main/java/de/jplag/kotlin/KotlinLanguage.java
  languages/kotlin/src/test/java/de/jplag/kotlin/KotlinLanguageTest.java
  languages/python-3/README.md
  languages/python-3/src/main/java/de/jplag/python3/PythonLanguage.java
  languages/python-3/src/test/java/de/jplag/python3/PythonLanguageCoverageTest.java
  languages/python-3/src/test/java/de/jplag/python3/PythonLanguageSequenceTest.java
  languages/rlang/README.md
  languages/rlang/src/main/java/de/jplag/rlang/RLanguage.java
  languages/rlang/src/test/java/de/jplag/rlang/RLanguageTest.java
  languages/rust/README.md
  languages/rust/src/main/java/de/jplag/rust/RustLanguage.java
  languages/rust/src/test/java/de/jplag/rust/RustLanguageTest.java
  languages/scala/src/main/resources/META-INF/services/de.jplag.Language
  languages/scala/src/main/scala/de/jplag/scala/ScalaLanguage.scala
  languages/scala/src/test/java/de/jplag/scala/ScalaLanguageTest.java
  languages/scheme/src/main/java/de/jplag/scheme/SchemeLanguage.java
  languages/swift/README.md
  languages/swift/src/main/java/de/jplag/swift/SwiftLanguage.java
  languages/swift/src/test/java/de/jplag/swift/SwiftFrontendTest.java
  languages/text/src/main/java/de/jplag/text/NaturalLanguage.java
  languages/text/src/test/java/jplag/text/NaturalLanguageTest.java
Labels: enhancement, minor, language

#1180 Simplified names for map functions in AbstractAntlrListener.java
  language-antlr-utils/src/main/java/de/jplag/antlr/AbstractAntlrListener.java
  language-antlr-utils/src/test/java/de/jplag/antlr/testLanguage/TestListener.java
  languages/cpp2/src/main/java/de/jplag/cpp2/CPPListener.java
  languages/kotlin/src/main/java/de/jplag/kotlin/KotlinListener.java
Labels: enhancement, minor, language
