Repository jplag/JPlag, pull requests merged in 2024-05, with the labels that each got.

#1745 Add workflow for closing issues on develop merge
  .github/workflows/closeDevIssues.yml
  .github/workflows/scripts/closeDevIssues.py
Labels: enhancement, minor, github_actions

#1748 Fix close pr workflow closing wrong issues
  .github/workflows/scripts/closeDevIssues.py
Labels: bug, minor, github_actions

#1680 Added idle bars
  cli/src/main/java/de/jplag/cli/CLI.java
  cli/src/main/java/de/jplag/cli/logger/CliProgressBarProvider.java
  cli/src/main/java/de/jplag/cli/logger/IdleBar.java
  cli/src/main/java/de/jplag/cli/logger/TongfeiProgressBarProvider.java
  cli/src/test/java/de/jplag/cli/logger/IdleBarTest.java
  core/src/main/java/de/jplag/clustering/ClusteringFactory.java
  core/src/main/java/de/jplag/logging/ProgressBarLogger.java
  core/src/main/java/de/jplag/logging/ProgressBarType.java
Labels: enhancement, minor

#1717 Add Tool Tip for Bread Crumbs in Comparison View
  core/src/main/java/de/jplag/reporting/jsonfactory/ComparisonReportWriter.java
  core/src/main/java/de/jplag/reporting/reportobject/model/Match.java
  report-viewer/index.html
  report-viewer/src/components/ComparisonsTable.vue
  report-viewer/src/components/ToolTipComponent.vue
  report-viewer/src/components/fileDisplaying/MatchList.vue
  report-viewer/src/components/optionsSelectors/OptionsSelectorComponent.vue
  report-viewer/src/model/Match.ts
  report-viewer/src/model/MatchInSingleFile.ts
  report-viewer/src/model/factories/ComparisonFactory.ts
  report-viewer/src/views/ComparisonView.vue
  report-viewer/tailwind.config.js
  report-viewer/tests/e2e/Distribution.spec.ts
Labels: enhancement, minor, report-viewer

#1721 Add e2e test for some languages
  .github/workflows/complete-e2e.yml
  .github/workflows/files/cpp.zip
  .github/workflows/files/csharp.zip
  .github/workflows/files/python.zip
  report-viewer/tests/e2e/OpenComparisonTest.spec.ts
Labels: enhancement, minor

#1736 Fix superlinear regex
  report-viewer/src/model/fileHandling/ZipFileHandler.ts
Labels: bug, minor, report-viewer

#1747 Better warning for missing files
  report-viewer/src/model/factories/ComparisonFactory.ts
  report-viewer/src/stores/store.ts
Labels: enhancement, minor, report-viewer

#1749 Improve flaky e2e tests
  report-viewer/tests/e2e/Distribution.spec.ts
Labels: report-viewer

#1750 Update python language module
  README.md
  languages/python-3/pom.xml
  languages/python-3/src/main/antlr4/de/jplag/python3/grammar/Python3Lexer.g4
  languages/python-3/src/main/antlr4/de/jplag/python3/grammar/Python3Parser.g4
  languages/python-3/src/main/java/de/jplag/python3/JplagPython3Listener.java
  languages/python-3/src/main/java/de/jplag/python3/Parser.java
  languages/python-3/src/main/java/de/jplag/python3/Python3TokenType.java
  languages/python-3/src/main/java/de/jplag/python3/PythonLanguage.java
  languages/python-3/src/main/java/de/jplag/python3/PythonListener.java
  languages/python-3/src/main/java/de/jplag/python3/PythonParserAdapter.java
  languages/python-3/src/main/java/de/jplag/python3/grammar/Python3LexerBase.java
  languages/python-3/src/main/java/de/jplag/python3/grammar/Python3ParserBase.java
  languages/python-3/src/test/resources/de/jplag/python3/test_utils.py
Labels: enhancement, minor, language

#1768 Catch all Exceptions in java
  languages/java/src/main/java/de/jplag/java/JavacAdapter.java
Labels: enhancement, minor, language

#1782 Increment JPlag revision to v5.1.0
  pom.xml
Labels: release

#1783 Increment development version
  pom.xml
Labels: release

#1784 Remove backwards-compability from report viewer
  report-viewer/src/components/fileDisplaying/CodePanel.vue
  report-viewer/src/components/fileDisplaying/FilesContainer.vue
  report-viewer/src/model/Comparison.ts
  report-viewer/src/model/Distribution.ts
  report-viewer/src/model/File.ts
  report-viewer/src/model/HundredValueDistribution.ts
  report-viewer/src/model/TenValueDistribution.ts
  report-viewer/src/model/factories/ComparisonFactory.ts
  report-viewer/src/model/factories/OverviewFactory.ts
  report-viewer/src/model/fileHandling/ZipFileHandler.ts
  report-viewer/src/version.json
  report-viewer/src/viewWrapper/InformationViewWrapper.vue
  report-viewer/src/views/ComparisonView.vue
  report-viewer/src/views/InformationView.vue
  report-viewer/tests/e2e/assets/result_small_cluster.zip
  report-viewer/tests/unit/model/Distribution.test.ts
  report-viewer/tests/unit/model/factories/ComparisonFactory.test.ts
  report-viewer/tests/unit/model/factories/OverviewFactory.test.ts
  report-viewer/tests/unit/model/factories/ValidComparison.json
  report-viewer/tests/unit/model/factories/ValidNewComparison.json
  report-viewer/tests/unit/model/factories/ValidOldOverview.json
  report-viewer/tests/unit/model/factories/ValidOverview.json
Labels: enhancement, major, report-viewer

#1788 Fix cut off code displaying
  report-viewer/src/components/fileDisplaying/CodeLine.vue
Labels: bug, minor, report-viewer

#1787 Clean up Core, CLI and Utility Modules
  cli/src/main/java/de/jplag/cli/CLI.java
  cli/src/main/java/de/jplag/cli/JPlagOptionsBuilder.java
  cli/src/main/java/de/jplag/cli/JPlagRunner.java
  cli/src/main/java/de/jplag/cli/OutputFileGenerator.java
  cli/src/main/java/de/jplag/cli/logger/CollectedLogger.java
  cli/src/main/java/de/jplag/cli/logger/LogEntry.java
  cli/src/main/java/de/jplag/cli/picocli/CliInputHandler.java
  cli/src/main/java/de/jplag/cli/picocli/CustomHelp.java
  cli/src/main/java/de/jplag/cli/picocli/HelpFactory.java
  cli/src/main/java/de/jplag/cli/picocli/ParameterLabelRenderer.java
  cli/src/main/java/de/jplag/cli/server/ReportViewer.java
  cli/src/main/java/de/jplag/cli/server/ResponseData.java
  cli/src/main/java/de/jplag/cli/server/Routing.java
  cli/src/main/java/de/jplag/cli/server/RoutingAlias.java
  cli/src/main/java/de/jplag/cli/server/RoutingResources.java
  cli/src/main/java/de/jplag/cli/server/RoutingStaticFile.java
  cli/src/main/java/de/jplag/cli/server/RoutingTree.java
  cli/src/test/java/de/jplag/cli/CustomHelpTests.java
  cli/src/test/java/de/jplag/cli/ParamLabelRendererTest.java
  core/src/main/java/de/jplag/JPlagResult.java
  core/src/main/java/de/jplag/SubmissionSet.java
  core/src/main/java/de/jplag/SubsequenceHashLookupTable.java
  core/src/main/java/de/jplag/clustering/Cluster.java
  core/src/main/java/de/jplag/clustering/ClusteringFactory.java
  core/src/main/java/de/jplag/clustering/ClusteringResult.java
  core/src/main/java/de/jplag/clustering/algorithm/BFGS.java
  core/src/main/java/de/jplag/clustering/algorithm/BayesianOptimization.java
  core/src/main/java/de/jplag/clustering/algorithm/GaussianProcess.java
  core/src/main/java/de/jplag/clustering/algorithm/SpectralClustering.java
  core/src/main/java/de/jplag/normalization/NormalizationGraphConstructor.java
  core/src/main/java/de/jplag/options/JPlagOptions.java
  core/src/main/java/de/jplag/reporting/reportobject/ReportObjectFactory.java
  core/src/main/java/de/jplag/reporting/reportobject/model/Version.java
  endtoend-testing/src/main/java/de/jplag/endtoend/helper/DeltaSummaryStatistics.java
  endtoend-testing/src/main/java/de/jplag/endtoend/helper/FileHelper.java
  endtoend-testing/src/main/java/de/jplag/endtoend/helper/TestSuiteHelper.java
  endtoend-testing/src/main/java/de/jplag/endtoend/helper/UnzipManager.java
  language-antlr-utils/src/main/java/de/jplag/antlr/AbstractAntlrParserAdapter.java
  language-antlr-utils/src/main/java/de/jplag/antlr/AbstractVisitor.java
  language-antlr-utils/src/main/java/de/jplag/antlr/ContextDelegateVisitor.java
  language-antlr-utils/src/main/java/de/jplag/antlr/DelegateVisitor.java
  language-api/src/main/java/de/jplag/ParsingException.java
  language-api/src/main/java/de/jplag/SharedTokenType.java
  language-api/src/main/java/de/jplag/Token.java
  language-api/src/main/java/de/jplag/TokenPrinter.java
  language-api/src/main/java/de/jplag/options/DefaultLanguageOption.java
  language-api/src/main/java/de/jplag/options/OptionType.java
  language-api/src/main/java/de/jplag/util/FileUtils.java
  language-testutils/src/test/java/de/jplag/testutils/LanguageModuleTest.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/FileTestData.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/InlineTestData.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/TestDataCollector.java
  languages/python-3/src/main/java/de/jplag/python3/PythonListener.java
  languages/python-3/src/main/java/de/jplag/python3/grammar/Python3LexerBase.java
  languages/python-3/src/main/java/de/jplag/python3/grammar/Python3ParserBase.java
Labels: enhancement, minor

#1789 Overhaul submission error handling
  core/src/main/java/de/jplag/Submission.java
  core/src/main/java/de/jplag/SubmissionSet.java
  core/src/main/java/de/jplag/SubmissionSetBuilder.java
  core/src/main/java/de/jplag/SubmissionState.java
  core/src/main/java/de/jplag/normalization/TokenStringNormalizer.java
  core/src/main/java/de/jplag/strategy/AbstractComparisonStrategy.java
Labels: enhancement, minor
