Repository jplag/JPlag, pull requests merged in 2024-03, with the labels that each got.

#1630 Fix version of report viewer
  report-viewer/src/version.json
Labels: bug, minor, report-viewer

#1628 Hide local files button in VIEW mode
  report-viewer/src/model/factories/BaseFactory.ts
Labels: bug, minor, report-viewer

#1632 fix unhiding through searchbar
  report-viewer/src/components/ComparisonTableFilter.vue
Labels: bug, minor, report-viewer

#1643 Fix ParsingException in cases of null file parameter
  language-api/src/main/java/de/jplag/ParsingException.java
Labels: bug, minor

#1609 FilePathUtils.joinZipPathSegments error on windows
  core/src/main/java/de/jplag/reporting/FilePathUtil.java
  core/src/main/java/de/jplag/reporting/jsonfactory/ComparisonReportWriter.java
  core/src/main/java/de/jplag/reporting/reportobject/ReportObjectFactory.java
  core/src/main/java/de/jplag/reporting/reportobject/writer/DummyResultWriter.java
  core/src/main/java/de/jplag/reporting/reportobject/writer/JPlagResultWriter.java
  core/src/main/java/de/jplag/reporting/reportobject/writer/ZipWriter.java
  core/src/test/java/de/jplag/reporting/FilePathUtilTest.java
Labels: bug, minor

#1640 Reenable search test
  report-viewer/tests/e2e/Comparison.spec.ts
Labels: enhancement, minor, report-viewer

#1648 Support unknown languages
  report-viewer/src/components/fileDisplaying/CodePanel.vue
  report-viewer/src/components/fileDisplaying/FilesContainer.vue
  report-viewer/src/model/CliOptions.ts
  report-viewer/src/model/Language.ts
  report-viewer/src/model/Overview.ts
  report-viewer/src/utils/CodeHighlighter.ts
  report-viewer/src/viewWrapper/ComparisonViewWrapper.vue
  report-viewer/src/views/ComparisonView.vue
Labels: bug, minor, report-viewer

#1647 Report viewer/clean console
  report-viewer/src/viewWrapper/ClusterViewWrapper.vue
  report-viewer/src/viewWrapper/ComparisonViewWrapper.vue
  report-viewer/src/viewWrapper/InformationViewWrapper.vue
  report-viewer/src/viewWrapper/OverviewViewWrapper.vue
  report-viewer/src/views/ComparisonView.vue
  report-viewer/src/views/FileUploadView.vue
Labels: enhancement, minor, report-viewer
