Repository jplag/JPlag, pull requests merged in 2024-08, with the labels that each got.

#1866 Avoid progress bar overlap
  cli/src/main/java/de/jplag/cli/logger/CollectedLogger.java
  cli/src/main/java/de/jplag/cli/logger/DelayablePrinter.java
  cli/src/main/java/de/jplag/cli/logger/IdleBar.java
  cli/src/main/java/de/jplag/cli/logger/LogDelayingProgressBar.java
  cli/src/main/java/de/jplag/cli/logger/TongfeiProgressBar.java
  cli/src/test/java/de/jplag/cli/logger/DelayablePrinterTest.java
Labels: bug, minor

#1892 Add toast for new version notification
  report-viewer/src/App.vue
  report-viewer/src/components/RepositoryReference.vue
  report-viewer/src/components/ToastComponent.vue
  report-viewer/src/components/VersionInfoComponent.vue
  report-viewer/src/components/VersionRepositoryReference.vue
  report-viewer/src/version.json
  report-viewer/src/viewWrapper/ClusterViewWrapper.vue
  report-viewer/src/viewWrapper/ComparisonViewWrapper.vue
  report-viewer/src/viewWrapper/InformationViewWrapper.vue
  report-viewer/src/viewWrapper/OverviewViewWrapper.vue
  report-viewer/tests/unit/components/VersionInfoComponent.test.ts
Labels: enhancement, minor, report-viewer

#1891 Add file sorting
  report-viewer/src/components/fileDisplaying/FilesContainer.vue
  report-viewer/src/components/optionsSelectors/OptionsSelectorComponent.vue
  report-viewer/src/model/ui/FileSortingOptions.ts
  report-viewer/src/stores/state.ts
  report-viewer/src/stores/store.ts
  report-viewer/src/views/ComparisonView.vue
Labels: enhancement, report-viewer

#1905 Print error messages before starting local server
  cli/src/main/java/de/jplag/cli/CLI.java
Labels: bug, minor

#1924 Use language identifiers in report
  core/src/main/java/de/jplag/reporting/reportobject/ReportObjectFactory.java
  report-viewer/src/model/Language.ts
  report-viewer/src/utils/CodeHighlighter.ts
  report-viewer/tests/unit/model/factories/OverviewFactory.test.ts
  report-viewer/tests/unit/model/factories/ValidOptions.json
  report-viewer/tests/unit/model/factories/ValidOverview.json
Labels: enhancement, minor, report-viewer

#1881 Added pre-commit hook checking spotless
  docs/3.-Contributing-to-JPlag.md
  gitHooks/hooks/pre-commit
  gitHooks/scripts/javaPreCommit
  gitHooks/scripts/reportViewerPreCommit
  report-viewer/.husky/pre-commit
  report-viewer/package-lock.json
  report-viewer/package.json
Labels: enhancement, minor

#1933 Added missing CLI tests
  cli/src/test/java/de/jplag/cli/DebugTest.java
  cli/src/test/java/de/jplag/cli/ExcludeFileTest.java
  cli/src/test/java/de/jplag/cli/LogLevelTest.java
  cli/src/test/java/de/jplag/cli/ResultFileTest.java
  cli/src/test/java/de/jplag/cli/SubdirectoryTest.java
  cli/src/test/java/de/jplag/cli/SuffixesTest.java
  cli/src/test/java/de/jplag/cli/test/CliArgument.java
  cli/src/test/java/de/jplag/cli/test/CliResult.java
  cli/src/test/java/de/jplag/cli/test/CliTest.java
Labels: enhancement, minor

#1914 Added structure for token position tests.
  docs/4.-Adding-New-Languages.md
  language-testutils/src/test/java/de/jplag/testutils/LanguageModuleTest.java
  language-testutils/src/test/java/de/jplag/testutils/TemporaryFileHolder.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/InlineTestData.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/TestDataCollector.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/TokenPositionTestData.java
  languages/java/src/test/java/de/jplag/java/JavaLanguageTest.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/VarDef_1.java
  languages/rlang/src/main/java/de/jplag/rlang/RParserAdapter.java
Labels: enhancement, minor

#1949 Fixed token position zero in text module
  languages/text/src/main/java/de/jplag/text/ParserAdapter.java
Labels: bug, minor, language

#1950 Use name when processing search bar input
  report-viewer/src/components/ComparisonTableFilter.vue
  report-viewer/src/components/ComparisonsTable.vue
Labels: enhancement, minor, report-viewer

#1948 Adjust report viewer logging rules
  report-viewer/.eslintrc.cjs
  report-viewer/src/components/ClusterGraph.vue
  report-viewer/src/components/fileDisplaying/CodePanel.vue
  report-viewer/src/components/fileDisplaying/FilesContainer.vue
  report-viewer/src/model/factories/ComparisonFactory.ts
  report-viewer/src/model/fileHandling/ZipFileHandler.ts
  report-viewer/src/viewWrapper/InformationViewWrapper.vue
Labels: report-viewer

#1947 Switch tests to correct pinia framework
  report-viewer/package-lock.json
  report-viewer/package.json
  report-viewer/tests/unit/model/factories/ComparisonFactory.test.ts
  report-viewer/tests/unit/model/factories/OptionsFactory.test.ts
  report-viewer/tests/unit/model/factories/OverviewFactory.test.ts
  report-viewer/tests/unit/model/factories/ValidComparison.json
Labels: report-viewer

#1931 Update report viewer readme
  report-viewer/README.md
Labels: enhancement, minor, report-viewer

#1953 Reset dev version in report viewer
  report-viewer/src/version.json
Labels: bug, minor

#1957 Remove single file upload
  report-viewer/src/model/factories/BaseFactory.ts
  report-viewer/src/model/fileHandling/JsonFileHandler.ts
  report-viewer/src/stores/state.ts
  report-viewer/src/stores/store.ts
  report-viewer/src/views/FileUploadView.vue
Labels: enhancement, minor, report-viewer

#1956 Demo starts on Overview
  report-viewer/src/views/FileUploadView.vue
Labels: enhancement, minor, report-viewer

#1952 Change to default local mode
  .github/workflows/complete-e2e.yml
  .github/workflows/maven.yml
  .github/workflows/publish.yml
  .github/workflows/report-viewer.yml
  cli/src/main/java/de/jplag/cli/options/CliOptions.java
Labels: enhancement, minor

#1951 Improve Wiki
  docs/1.-How-to-Use-JPlag.md
  docs/2.-Supported-Languages.md
  docs/3.-Contributing-to-JPlag.md
  docs/4.-Adding-New-Languages.md
  docs/5.-End-to-End-Testing.md
  docs/6.-Report-File-Generation.md
  docs/7.-Clustering-of-Submissions.md
  docs/Home.md
Labels: enhancement, minor

#1955 Fix exporting of last token in match
  core/src/main/java/de/jplag/reporting/jsonfactory/BaseCodeReportWriter.java
  core/src/main/java/de/jplag/reporting/jsonfactory/ComparisonReportWriter.java
  core/src/test/java/de/jplag/reporting/jsonfactory/ReportTokenPositionTestTest.java
  core/src/test/java/de/jplag/reporting/jsonfactory/TestableReportWriter.java
Labels: bug, minor
