Repository jplag/JPlag, pull requests merged in 2024-09, with the labels that each got.

#1959 Fix filtering by metric
  report-viewer/src/components/ComparisonsTable.vue
Labels: bug, minor, report-viewer

#1961 Added names to token position tests
  language-testutils/src/test/java/de/jplag/testutils/datacollector/TokenPositionTestData.java
Labels: enhancement, minor

#1893 Dark mode redesign
  report-viewer/src/components/ComparisonsTable.vue
  report-viewer/src/components/ContainerComponent.vue
  report-viewer/src/utils/ColorUtils.ts
  report-viewer/tailwind.config.js
Labels: enhancement, minor, report-viewer

#1958 Test comparison table
  report-viewer/tests/unit/components/comparisonTable/ComparisonTable.test.ts
  report-viewer/tests/unit/components/comparisonTable/ComparisonTableFilter.test.ts
Labels: enhancement, minor, report-viewer

#1984 Fix clicking on match opening wrong match
  report-viewer/src/components/fileDisplaying/FilesContainer.vue
Labels: bug, minor, report-viewer

#1985 Update report viewer documentation
  docs/3.-Contributing-to-JPlag.md
  docs/6.-Report-File-Generation.md
Labels: enhancement, minor, report-viewer, wiki

#1982 Updated documentation
  docs/1.-How-to-Use-JPlag.md
  docs/3.-Contributing-to-JPlag.md
  docs/4.-Adding-New-Languages.md
  endtoend-testing/README.md
Labels: enhancement, minor, wiki
