Repository jplag/JPlag, pull requests merged in 2024-07, with the labels that each got.

#1835 Ensure JPlag fails gracefully if JavaC is not available and Java code is analyzed
  core/src/main/java/de/jplag/Submission.java
  core/src/main/java/de/jplag/SubmissionSet.java
  core/src/main/java/de/jplag/exceptions/LanguageException.java
  language-api/src/main/java/de/jplag/CriticalParsingException.java
  languages/java/src/main/java/de/jplag/java/JavacAdapter.java
  languages/java/src/main/java/de/jplag/java/Parser.java
Labels: enhancement, minor, language

#1847 Added the --overwrite option to the docs
  README.md
  docs/1.-How-to-Use-JPlag.md
Labels: bug, minor

#1825 Display Basecode in report viewer
  core/src/main/java/de/jplag/reporting/jsonfactory/BaseCodeReportWriter.java
  core/src/main/java/de/jplag/reporting/reportobject/ReportObjectFactory.java
  core/src/main/java/de/jplag/reporting/reportobject/model/BaseCodeMatch.java
  report-viewer/src/components/fileDisplaying/CodePanel.vue
  report-viewer/src/components/fileDisplaying/FilesContainer.vue
  report-viewer/src/components/fileDisplaying/MatchList.vue
  report-viewer/src/model/BaseCodeReport.ts
  report-viewer/src/model/Match.ts
  report-viewer/src/model/factories/BaseCodeReportFactory.ts
  report-viewer/src/utils/ColorUtils.ts
  report-viewer/src/viewWrapper/ComparisonViewWrapper.vue
  report-viewer/src/views/ComparisonView.vue
Labels: enhancement, major, report-viewer

#1839 Enhance search bar of comparison table
  report-viewer/src/components/ComparisonTableFilter.vue
  report-viewer/src/components/ComparisonsTable.vue
  report-viewer/tests/e2e/Comparison.spec.ts
Labels: enhancement, minor, report-viewer

#1854 FIx bug with --enable-preview on Java 22
  core/src/test/java/de/jplag/NewJavaFeaturesTest.java
  languages/java/src/main/java/de/jplag/java/JavaLanguage.java
  languages/java/src/main/java/de/jplag/java/JavacAdapter.java
Labels: bug, minor, language

#1868 Output antlr error to a logger instead of System.err
  language-antlr-utils/src/main/java/de/jplag/antlr/AbstractAntlrParserAdapter.java
  language-antlr-utils/src/main/java/de/jplag/antlr/AntlrLoggerErrorListener.java
Labels: bug, minor

#1838 Fix bugs for WSL
  cli/src/main/java/de/jplag/cli/JPlagRunner.java
  cli/src/main/java/de/jplag/cli/server/ReportViewer.java
Labels: bug, minor, report-viewer

#1869 Improve character index of token tracing information for better visualization of Java matches
  languages/java/src/main/java/de/jplag/java/TokenGeneratingTreeScanner.java
Labels: enhancement, minor, language

#1828 Feature/record builders
  core/pom.xml
  core/src/main/java/de/jplag/options/JPlagOptions.java
  core/src/test/java/de/jplag/options/JPlagOptionsTest.java
Labels: enhancement, minor

#1870 Replaced 'Commands' in the help text by 'Languages'.
  README.md
  cli/src/main/java/de/jplag/cli/picocli/CliInputHandler.java
Labels: enhancement, minor

#1867 Clean up report viewer code
  report-viewer/src/App.vue
  report-viewer/src/assets/jplag-dark-transparent.png
  report-viewer/src/assets/jplag-light-transparent.png
  report-viewer/src/components/ClusterRadarChart.vue
  report-viewer/src/components/ComparisonsTable.vue
  report-viewer/src/components/ContainerComponent.vue
  report-viewer/src/components/ScrollableComponent.vue
  report-viewer/src/components/ToolTipComponent.vue
  report-viewer/src/components/VersionInfoComponent.vue
  report-viewer/src/components/distributionDiagram/DistributionDiagram.vue
  report-viewer/src/components/fileDisplaying/CodeLine.vue
  report-viewer/src/components/fileDisplaying/FilesContainer.vue
  report-viewer/src/components/fileDisplaying/MatchList.vue
  report-viewer/src/components/optionsSelectors/OptionComponent.vue
  report-viewer/src/main.ts
  report-viewer/src/model/Comparison.ts
  report-viewer/src/model/MetricType.ts
  report-viewer/src/model/Version.ts
  report-viewer/src/model/factories/BaseCodeReportFactory.ts
  report-viewer/src/model/factories/BaseFactory.ts
  report-viewer/src/model/factories/ComparisonFactory.ts
  report-viewer/src/model/factories/OverviewFactory.ts
  report-viewer/src/model/fileHandling/ZipFileHandler.ts
  report-viewer/src/stores/state.ts
  report-viewer/src/style.css
  report-viewer/src/utils/CodeHighlighter.ts
  report-viewer/src/utils/ColorUtils.ts
  report-viewer/src/utils/ComparisonUtils.ts
  report-viewer/src/viewWrapper/ComparisonViewWrapper.vue
  report-viewer/src/views/ComparisonView.vue
  report-viewer/src/views/ErrorView.vue
  report-viewer/src/views/FileUploadView.vue
  report-viewer/src/views/InformationView.vue
  report-viewer/tailwind.config.js
Labels: enhancement, minor, report-viewer

#1871 Fix overscroll when clicking match
  report-viewer/src/components/ScrollableComponent.vue
  report-viewer/src/components/fileDisplaying/CodeLine.vue
  report-viewer/src/components/fileDisplaying/CodePanel.vue
  report-viewer/src/components/fileDisplaying/FilesContainer.vue
Labels: bug, minor, report-viewer

#1880 Only show parts of path that differ in report viewer
  report-viewer/src/components/fileDisplaying/CodePanel.vue
  report-viewer/src/model/File.ts
  report-viewer/src/model/factories/ComparisonFactory.ts
  report-viewer/src/model/fileHandling/ZipFileHandler.ts
  report-viewer/tests/unit/model/factories/ComparisonFactory.test.ts
Labels: enhancement, minor, report-viewer

#1882 Fix report viewer scrolling bug in main branch
  report-viewer/src/components/ScrollableComponent.vue
  report-viewer/src/components/fileDisplaying/CodeLine.vue
  report-viewer/src/components/fileDisplaying/CodePanel.vue
  report-viewer/src/components/fileDisplaying/FilesContainer.vue
Labels: bug, minor, report-viewer

#1872 Improve code quality of token sequence normalization
  core/src/main/java/de/jplag/Submission.java
  core/src/main/java/de/jplag/SubmissionSet.java
  core/src/main/java/de/jplag/normalization/MultipleEdge.java
  core/src/main/java/de/jplag/normalization/NormalizationGraph.java
  core/src/main/java/de/jplag/normalization/Statement.java
  core/src/main/java/de/jplag/normalization/StatementBuilder.java
  core/src/main/java/de/jplag/normalization/TokenSequenceNormalizer.java
  core/src/test/java/de/jplag/NormalizationTest.java
  language-api/src/main/java/de/jplag/semantics/CodeSemantics.java
Labels: enhancement, minor
