Repository jplag/JPlag, pull requests merged in 2024-01, with the labels that each got.

#1469 bump vite to version 5.0.11
  report-viewer/package-lock.json
  report-viewer/package.json
  report-viewer/postcss.config.js
Labels: report-viewer

#1447 Improve performance of the match merging after the matching is done
  core/src/main/java/de/jplag/Match.java
  core/src/main/java/de/jplag/merging/MatchMerging.java
Labels: bug, minor

#1414 Hide radar chart when not enough members
  report-viewer/src/components/ClusterRadarChart.vue
  report-viewer/src/views/ClusterView.vue
Labels: bug, minor, report-viewer

#1385 Implemented csv export.
  cli/src/main/java/de/jplag/cli/CLI.java
  cli/src/main/java/de/jplag/cli/CliOptions.java
  cli/src/main/java/de/jplag/cli/OutputFileGenerator.java
  core/src/main/java/de/jplag/csv/CsvDataMapper.java
  core/src/main/java/de/jplag/csv/CsvPrinter.java
  core/src/main/java/de/jplag/csv/CsvValue.java
  core/src/main/java/de/jplag/csv/HardcodedCsvDataMapper.java
  core/src/main/java/de/jplag/csv/ReflectiveCsvDataMapper.java
  core/src/main/java/de/jplag/csv/comparisons/CsvComparisonData.java
  core/src/main/java/de/jplag/csv/comparisons/CsvComparisonOutput.java
  core/src/main/java/de/jplag/csv/comparisons/NameMapper.java
  core/src/main/java/de/jplag/csv/comparisons/NameMapperIncrementalIds.java
  core/src/test/java/de/jplag/csv/CsvPrinterTest.java
Labels: enhancement, minor

#1478 Fix logger name to ensure build is passing
  cli/src/main/java/de/jplag/cli/OutputFileGenerator.java
Labels: bug, minor

#1436 Improve anonymization
  report-viewer/src/components/ClusterGraph.vue
  report-viewer/src/components/ClusterRadarChart.vue
  report-viewer/src/components/DropDownSelector.vue
  report-viewer/src/components/NameElement.vue
  report-viewer/src/stores/state.ts
  report-viewer/src/stores/store.ts
  report-viewer/src/views/ComparisonView.vue
Labels: report-viewer

#1444 add zipfilename to title and overview
  report-viewer/src/stores/state.ts
  report-viewer/src/stores/store.ts
  report-viewer/src/views/FileUploadView.vue
  report-viewer/src/views/InformationView.vue
  report-viewer/src/views/OverviewView.vue
Labels: enhancement, minor, report-viewer

#1448 Report Viewer Demo
  .github/workflows/files/progpedia.zip
  .github/workflows/report-viewer-demo.yml
  report-viewer/package.json
  report-viewer/src/model/factories/BaseFactory.ts
  report-viewer/src/views/FileUploadView.vue
  report-viewer/vite.config.ts
Labels: report-viewer

#1492 Remove comparison single file upload
  report-viewer/src/utils/fileHandling/FileHandler.ts
  report-viewer/src/utils/fileHandling/JsonFileHandler.ts
  report-viewer/src/utils/fileHandling/ZipFileHandler.ts
  report-viewer/src/views/FileUploadView.vue
Labels: report-viewer

#1280 Some small e2e tests for report viewer
  .github/workflows/report-viewer-e2e.yml
  report-viewer/playwright.config.ts
  report-viewer/tests/e2e/Cluster.spec.ts
  report-viewer/tests/e2e/Comparison.spec.ts
  report-viewer/tests/e2e/Distribution.spec.ts
  report-viewer/tests/e2e/Information.spec.ts
  report-viewer/tests/e2e/TestUtils.ts
  report-viewer/tests/e2e/assets/result_small_cluster.zip
  report-viewer/tests/e2e/boilerplate.spec.ts
Labels: enhancement, minor, report-viewer

#1446 Display all cli options on information view
  core/src/main/java/de/jplag/clustering/ClusteringOptions.java
  core/src/main/java/de/jplag/merging/MergingOptions.java
  core/src/main/java/de/jplag/options/JPlagOptions.java
  core/src/main/java/de/jplag/reporting/jsonfactory/serializer/LanguageSerializer.java
  core/src/main/java/de/jplag/reporting/reportobject/ReportObjectFactory.java
  docs/6.-Report-File-Generation.md
  report-viewer/src/model/CliOptions.ts
  report-viewer/src/model/factories/OptionsFactory.ts
  report-viewer/src/viewWrapper/InformationViewWrapper.vue
  report-viewer/src/views/InformationView.vue
  report-viewer/tests/e2e/Information.spec.ts
  report-viewer/tests/unit/model/factories/OptionsFactory.test.ts
  report-viewer/tests/unit/model/factories/ValidOptions.json
Labels: enhancement, minor, report-viewer

#1510 Dont show cluster graphs on too many members
  report-viewer/src/views/ClusterView.vue
Labels: report-viewer

#1511 Fix version of intra-project dependency for the kotlin module
  languages/kotlin/pom.xml
Labels: bug, minor

#1513 Clean up progpedia dataset in the E2E tests
  endtoend-testing/src/main/java/de/jplag/endtoend/model/DataSet.java
  endtoend-testing/src/test/resources/data/progpedia.zip
  endtoend-testing/src/test/resources/dataSets/progpedia.json
Labels: enhancement, minor
