Repository jplag/JPlag, pull requests merged in 2024-12, with the labels that each got.

#1960 Added token position tests for annotations
  language-testutils/src/test/java/de/jplag/testutils/LanguageModuleTest.java
  languages/java/src/main/java/de/jplag/java/TokenGeneratingTreeScanner.java
  languages/java/src/test/java/de/jplag/java/JavaLanguageTest.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/Anno_1.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/Anno_2.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/Anno_3.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/Anno_4.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/JAnnoTBegin-End_1.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/JAnnoTBegin-End_2.java
Labels: enhancement, minor, language

#2087 Multi Language Program Support
  cli/pom.xml
  cli/src/main/java/de/jplag/cli/options/LanguageCandidates.java
  cli/src/main/java/de/jplag/cli/options/LanguageConverter.java
  cli/src/main/java/de/jplag/cli/picocli/CliInputHandler.java
  cli/src/test/java/de/jplag/cli/LanguageTest.java
  endtoend-testing/src/main/java/de/jplag/endtoend/helper/LanguageDeserializer.java
  language-api/src/main/java/de/jplag/LanguageLoader.java
  language-api/src/main/java/de/jplag/options/DefaultLanguageOption.java
  languages/multi-language/pom.xml
  languages/multi-language/src/main/java/de/jplag/multilang/MultiLanguage.java
  languages/multi-language/src/main/java/de/jplag/multilang/MultiLanguageOptions.java
  languages/multi-language/src/main/java/de/jplag/multilang/MultiLanguageParser.java
  languages/multi-language/src/test/java/de/java/multilang/MultilangTest.java
  languages/multi-language/src/test/resources/de/jplag/multilang/testDataSet/CppCode.cpp
  languages/multi-language/src/test/resources/de/jplag/multilang/testDataSet/JavaCode.java
  languages/pom.xml
Labels: enhancement, major, language

#2099 Dont display basecode in all files
  report-viewer/src/components/fileDisplaying/FilesContainer.vue
  report-viewer/src/model/MatchInSingleFile.ts
Labels: bug, minor, report-viewer

#2118 Fix html unicode hex escapes being one character short
  report-viewer/src/components/fileDisplaying/CodeLine.vue
Labels: bug, minor, report-viewer

#2086 Eslint upgrade
  report-viewer/.eslintrc.cjs
  report-viewer/eslint.config.mjs
  report-viewer/package-lock.json
  report-viewer/package.json
  report-viewer/src/components/ClusterGraph.vue
  report-viewer/src/components/ClusterRadarChart.vue
  report-viewer/src/components/ComparisonTableFilter.vue
  report-viewer/src/components/ComparisonsTable.vue
  report-viewer/src/components/DropDownSelector.vue
  report-viewer/src/components/ScrollableComponent.vue
  report-viewer/src/components/SearchBarComponent.vue
  report-viewer/src/components/TabbedContainer.vue
  report-viewer/src/components/TextInformation.vue
  report-viewer/src/components/ToastComponent.vue
  report-viewer/src/components/ToolTipComponent.vue
  report-viewer/src/components/distributionDiagram/DistributionDiagram.vue
  report-viewer/src/components/distributionDiagram/DistributionDiagramOptions.vue
  report-viewer/src/components/fileDisplaying/CodeLine.vue
  report-viewer/src/components/fileDisplaying/CodePanel.vue
  report-viewer/src/components/fileDisplaying/FilesContainer.vue
  report-viewer/src/components/fileDisplaying/MatchList.vue
  report-viewer/src/model/factories/BaseFactory.ts
  report-viewer/src/views/ClusterView.vue
  report-viewer/src/views/ComparisonView.vue
  report-viewer/src/views/ErrorView.vue
  report-viewer/src/views/FileUploadView.vue
  report-viewer/src/views/InformationView.vue
  report-viewer/src/views/OverviewView.vue
  report-viewer/src/vue-virtual-scroll.d.ts
Labels: enhancement, minor, report-viewer
