Repository jplag/JPlag, pull requests merged in 2024-04, with the labels that each got.

#1693 Update the location of sortAlgo resources
  docs/5.-End-to-End-Testing.md
Labels: bug, minor

#1697 Fix Jar Upload
  .github/workflows/maven.yml
Labels: bug, minor, github_actions

#1607 Feature/cli module refactoring
  cli/src/main/java/de/jplag/cli/CLI.java
  cli/src/main/java/de/jplag/cli/JPlagOptionsBuilder.java
  cli/src/main/java/de/jplag/cli/JPlagRunner.java
  cli/src/main/java/de/jplag/cli/OutputFileGenerator.java
  cli/src/main/java/de/jplag/cli/logger/CollectedLogger.java
  cli/src/main/java/de/jplag/cli/logger/JPlagLoggerBase.java
  cli/src/main/java/de/jplag/cli/logger/LogEntry.java
  cli/src/main/java/de/jplag/cli/logger/Triple.java
  cli/src/main/java/de/jplag/cli/options/CliOptions.java
  cli/src/main/java/de/jplag/cli/options/JPlagMode.java
  cli/src/main/java/de/jplag/cli/options/LanguageCandidates.java
  cli/src/main/java/de/jplag/cli/options/LanguageConverter.java
  cli/src/main/java/de/jplag/cli/options/LanguageLoader.java
  cli/src/main/java/de/jplag/cli/picocli/CliInputHandler.java
  cli/src/main/java/de/jplag/cli/picocli/CustomHelp.java
  cli/src/main/java/de/jplag/cli/picocli/HelpFactory.java
  cli/src/main/java/de/jplag/cli/picocli/ParamLabelRenderer.java
  cli/src/main/java/de/jplag/cli/server/ReportViewer.java
  cli/src/main/java/de/jplag/cli/server/Routing.java
  cli/src/test/java/de/jplag/cli/ArgumentBuilder.java
  cli/src/test/java/de/jplag/cli/CommandLineInterfaceTest.java
  cli/src/test/java/de/jplag/cli/CustomHelpTests.java
  cli/src/test/java/de/jplag/cli/LanguageTest.java
  cli/src/test/java/de/jplag/cli/ParamLabelRendererTest.java
  cli/src/test/java/de/jplag/cli/server/RoutingTreeTest.java
  endtoend-testing/src/main/java/de/jplag/endtoend/helper/LanguageDeserializer.java
Labels: enhancement, minor

#1690 Added progress bars for Match Merging and Token String Normalization.
  core/src/main/java/de/jplag/SubmissionSet.java
  core/src/main/java/de/jplag/logging/ProgressBarLogger.java
  core/src/main/java/de/jplag/logging/ProgressBarType.java
  core/src/main/java/de/jplag/merging/MatchMerging.java
Labels: enhancement, minor

#1692 Added related submission table to cluster view
  report-viewer/src/components/TabbedContainer.vue
  report-viewer/src/views/ClusterView.vue
Labels: enhancement, major, report-viewer

#1705 Cli enum options
  cli/src/main/java/de/jplag/cli/options/CliOptions.java
  cli/src/main/java/de/jplag/cli/picocli/CliInputHandler.java
Labels: bug, minor

#1695 Character precise matches
  core/src/main/java/de/jplag/reporting/jsonfactory/ComparisonReportWriter.java
  core/src/main/java/de/jplag/reporting/reportobject/model/Match.java
  report-viewer/src/components/fileDisplaying/CodeLine.vue
  report-viewer/src/components/fileDisplaying/CodePanel.vue
  report-viewer/src/components/fileDisplaying/FilesContainer.vue
  report-viewer/src/model/Match.ts
  report-viewer/src/model/MatchInSingleFile.ts
  report-viewer/src/model/factories/ComparisonFactory.ts
  report-viewer/src/views/ComparisonView.vue
Labels: enhancement, major, report-viewer

#1691 Added generic catch clause in the c language module
  languages/c/src/main/java/de/jplag/c/Scanner.java
Labels: bug, minor, language

#1722 Added missing line separator
  cli/src/main/java/de/jplag/cli/options/CliOptions.java
  cli/src/main/java/de/jplag/cli/picocli/CliInputHandler.java
Labels: bug, minor

#1694 Migrate go language module to new framework
  language-antlr-utils/src/main/java/de/jplag/antlr/AbstractVisitor.java
  language-antlr-utils/src/main/java/de/jplag/antlr/ContextDelegateVisitor.java
  language-antlr-utils/src/main/java/de/jplag/antlr/ContextVisitor.java
  language-antlr-utils/src/main/java/de/jplag/antlr/DelegateVisitor.java
  language-antlr-utils/src/main/java/de/jplag/antlr/HandlerData.java
  language-antlr-utils/src/main/java/de/jplag/antlr/TokenCollector.java
  languages/golang/pom.xml
  languages/golang/src/main/java/de/jplag/golang/GoLanguage.java
  languages/golang/src/main/java/de/jplag/golang/GoListener.java
  languages/golang/src/main/java/de/jplag/golang/GoParserAdapter.java
  languages/golang/src/main/java/de/jplag/golang/JPlagGoListener.java
  languages/golang/src/test/java/de/jplag/golang/GoLanguageTest.java
  languages/golang/src/test/resources/de/jplag/go/ArrayEllipsisDecls.go
  languages/golang/src/test/resources/de/jplag/go/Complete.go
  languages/golang/src/test/resources/de/jplag/go/Constants.go
Labels: enhancement, major, language
