Repository jplag/JPlag, pull requests merged in 2024-10, with the labels that each got.

#2022 Increase number of exported comparisons
  core/src/main/java/de/jplag/options/JPlagOptions.java
Labels: enhancement, minor

#2031 Small fix for the cpp semantics. Probably doesn't make a difference.
  languages/cpp/src/main/java/de/jplag/cpp/CPPListener.java
Labels: bug, minor, language

#1864 Refactored RLang language module to new framework
  languages/rlang/pom.xml
  languages/rlang/src/main/antlr4/de/jplag/rlang/grammar/R.g4
  languages/rlang/src/main/antlr4/de/jplag/rlang/grammar/RFilter.g4
  languages/rlang/src/main/java/de/jplag/rlang/JPlagRListener.java
  languages/rlang/src/main/java/de/jplag/rlang/RCombinedBaseListener.java
  languages/rlang/src/main/java/de/jplag/rlang/RLanguage.java
  languages/rlang/src/main/java/de/jplag/rlang/RListener.java
  languages/rlang/src/main/java/de/jplag/rlang/RParserAdapter.java
Labels: enhancement, major, language
