Repository jplag/JPlag, pull requests merged in 2025-09, with the labels that each got.

#2567 Store theme preference
  report-viewer/report-viewer/src/stores/uiStore.ts
Labels: enhancement, minor, report-viewer

#2588 Enable CheckStyle for test code
  core/src/test/java/de/jplag/highlightextraction/frequencydetermination/StrategyIntegrationTest.java
  core/src/test/java/de/jplag/highlightextraction/frequencydetermination/StrategyTest.java
  language-testutils/src/test/java/de/jplag/testutils/LanguageModuleTest.java
  language-testutils/src/test/java/de/jplag/testutils/TemporaryFileHolder.java
  language-testutils/src/test/java/de/jplag/testutils/TokenUtils.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/InlineTestData.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/TestDataCollector.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/TestSourceIgnoredLinesCollector.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/TokenPositionTestData.java
  languages/csharp/src/test/java/de/jplag/csharp/CSharpTest.java
  languages/javascript/src/test/java/de/jplag/javascript/JavaScriptLanguageTest.java
  languages/kotlin/src/test/java/de/jplag/kotlin/KotlinLanguageTest.java
  languages/llvmir/src/test/java/de/jplag/llvmir/LLVMIRLanguageTest.java
  languages/rust/src/test/java/de/jplag/rust/RustLanguageTest.java
  languages/scala/src/test/java/de/jplag/scala/ScalaLanguageTest.java
  languages/scxml/src/test/java/de/jplag/scxml/ConfigurableScxmlParserAdapter.java
  languages/scxml/src/test/java/de/jplag/scxml/ScxmlTokenGeneratorTest.java
  languages/scxml/src/test/java/de/jplag/scxml/util/StateBuilder.java
  languages/swift/src/test/java/de/jplag/swift/SwiftLanguageTest.java
  languages/typescript/src/test/java/de/jplag/typescript/TypeScriptLanguageTest.java
  pom.xml
Labels: enhancement, minor

#2549 CLI option to skip version check
  cli/src/main/java/de/jplag/cli/CLI.java
  cli/src/main/java/de/jplag/cli/options/CliOptions.java
Labels: enhancement, minor

#2566 Test Base Ui Components
  report-viewer/report-viewer/src/views/ClusterView.vue
  report-viewer/ui-components/base/DropDownSelector.vue
  report-viewer/ui-components/base/SearchBarComponent.vue
  report-viewer/ui-components/tests/base/ButtonComponent.test.ts
  report-viewer/ui-components/tests/base/DropDownSelector.test.ts
  report-viewer/ui-components/tests/base/SearchBarComponent.test.ts
  report-viewer/ui-components/tests/base/TabbedContainer.test.ts
  report-viewer/ui-components/tests/base/TextInformation.test.ts
  report-viewer/ui-components/tests/base/ToastComponent.test.ts
  report-viewer/ui-components/tests/base/ToolTipComponent.test.ts
  report-viewer/ui-components/widget/clusterVisualization/ClusterRadarChart.vue
  report-viewer/ui-components/widget/optionsSelectors/MetricSelector.vue
Labels: enhancement, minor, report-viewer

#2468 Java token position tests Break-Cond
  languages/java/src/test/resources/de/jplag/java/tokenPositions/Break_1.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/Break_2.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/Case.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/Catch.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/CatchMultipleCases.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/Class.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/ClassWithModifier.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/Cond_1.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/Cond_2.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/InnerClass.java
Labels: enhancement, minor, language
