Repository jplag/JPlag, pull requests merged in 2025-05, with the labels that each got.

#2356 Change text of anonymization button
  docs/7.-Report-Viewer.md
  report-viewer/src/components/ComparisonTableFilter.vue
  report-viewer/tests/e2e/Comparison.spec.ts
  report-viewer/tests/unit/components/comparisonTable/ComparisonTableFilter.test.ts
Labels: enhancement, minor, report-viewer

#2349 Fix usage of deprecated methods in non-deprecated code
  cli/src/main/java/de/jplag/cli/JPlagOptionsBuilder.java
  core/src/test/java/de/jplag/BaseCodeTest.java
  core/src/test/java/de/jplag/options/JPlagOptionsTest.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/FileTestData.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/InlineTestData.java
  language-testutils/src/test/java/de/jplag/testutils/datacollector/TokenPositionTestData.java
  languages/rlang/src/test/java/de/jplag/rlang/RLanguageTest.java
  languages/rust/src/test/java/de/jplag/rust/RustLanguageTest.java
  languages/scala/src/test/java/de/jplag/scala/ScalaLanguageTest.java
  languages/swift/src/test/java/de/jplag/swift/SwiftFrontendTest.java
  languages/text/src/test/java/jplag/text/NaturalLanguageTest.java
Labels: enhancement, minor

#2350 Fix typos and extend some documentation
  core/src/main/java/de/jplag/JPlag.java
  core/src/main/java/de/jplag/Submission.java
  core/src/main/java/de/jplag/SubmissionFileData.java
  core/src/main/java/de/jplag/SubmissionSetBuilder.java
  core/src/main/java/de/jplag/comparison/LongestCommonSubsequenceSearch.java
  core/src/test/java/de/jplag/merging/MergingTest.java
  docs/1.-How-to-Use-JPlag.md
  language-api/src/main/java/de/jplag/Language.java
Labels: enhancement, minor

#2352 Match file extensions independently of capitalization
  cli/src/test/java/de/jplag/cli/FileExtensionTest.java
  cli/src/test/java/de/jplag/cli/SuffixesTest.java
  core/src/main/java/de/jplag/SubmissionSetBuilder.java
  language-api/src/main/java/de/jplag/Language.java
  languages/c/src/main/java/de/jplag/c/CLanguage.java
  languages/cpp/src/main/java/de/jplag/cpp/CPPLanguage.java
  languages/csharp/src/main/java/de/jplag/csharp/CSharpLanguage.java
  languages/java/src/main/java/de/jplag/java/JavaLanguage.java
  languages/rlang/src/main/java/de/jplag/rlang/RLanguage.java
  languages/scheme/src/main/java/de/jplag/scheme/SchemeLanguage.java
  languages/text/src/main/java/de/jplag/text/NaturalLanguage.java
Labels: enhancement, minor, language

#2363 Fix syntax highlighting
  report-viewer/src/views/ComparisonView.vue
Labels: bug, minor, report-viewer

#2362 Add Q&A section to the Wiki
  README.md
  docs/Home.md
Labels: enhancement, minor, wiki

#2365 Remove unzipped file based local mode
  report-viewer/src/model/factories/BaseFactory.ts
  report-viewer/src/model/factories/ComparisonFactory.ts
  report-viewer/src/stores/state.ts
  report-viewer/src/stores/store.ts
  report-viewer/src/views/FileUploadView.vue
  report-viewer/tests/unit/model/factories/ComparisonFactory.test.ts
  report-viewer/tests/unit/model/factories/OptionsFactory.test.ts
  report-viewer/tests/unit/model/factories/OverviewFactory.test.ts
Labels: enhancement, minor, report-viewer

#2379 Fix dynamic loading of Mockito agent
  pom.xml
Labels: bug, minor

#2355 Make tooltips more visible
  report-viewer/src/components/ComparisonTableFilter.vue
  report-viewer/src/components/InfoIcon.vue
  report-viewer/src/components/SearchBarComponent.vue
  report-viewer/src/components/TabbedContainer.vue
  report-viewer/src/components/ToolTipComponent.vue
  report-viewer/src/components/fileDisplaying/MatchList.vue
  report-viewer/src/components/optionsSelectors/OptionComponent.vue
  report-viewer/src/components/optionsSelectors/OptionsSelectorComponent.vue
  report-viewer/src/views/ComparisonView.vue
  report-viewer/src/views/OverviewView.vue
Labels: enhancement, minor, report-viewer

#2383 Migrate to Maven Central
  .github/workflows/publish.yml
  pom.xml
Labels: enhancement, minor, release

#2318 Warning when submission parsing failed
  report-viewer/src/views/InformationView.vue
  report-viewer/src/views/OverviewView.vue
Labels: enhancement, minor, report-viewer

#2399 Fix line hover outside of cluster graph
  report-viewer/src/components/ClusterGraph.vue
Labels: bug, minor, report-viewer
