Repository jplag/JPlag, pull requests merged in 2025-04, with the labels that each got.

#2274 Improve short submission error.
  core/src/main/java/de/jplag/Submission.java
Labels: enhancement, minor

#2286 Extract failed submissions
  core/src/main/java/de/jplag/reporting/reportobject/ReportObjectFactory.java
Labels: bug, minor, report-viewer

#2303 Fix Java module token tracing bug for classes without modifers
  language-testutils/src/test/java/de/jplag/testutils/datacollector/TestDataCollector.java
  languages/java/src/main/java/de/jplag/java/TokenGeneratingTreeScanner.java
  languages/java/src/test/java/de/jplag/java/JavaLanguageTest.java
  languages/java/src/test/resources/de/jplag/java/ClassWithoutModifier.java
  languages/java/src/test/resources/de/jplag/java/tokenPositions/ClassWithoutModifier.java
Labels: bug, minor, language

#2290 Add expand all option for files
  report-viewer/src/components/fileDisplaying/CodePanel.vue
  report-viewer/src/components/fileDisplaying/FilesContainer.vue
  report-viewer/tests/e2e/Comparison.spec.ts
Labels: enhancement, minor, report-viewer

#2289 Move sorting to table headers
  report-viewer/src/components/ComparisonTableFilter.vue
  report-viewer/src/components/ComparisonsTable.vue
  report-viewer/src/model/Cluster.ts
  report-viewer/src/model/ComparisonListElement.ts
  report-viewer/src/model/factories/OverviewFactory.ts
  report-viewer/src/model/ui/ComparisonSorting.ts
  report-viewer/src/stores/state.ts
  report-viewer/src/stores/store.ts
  report-viewer/tests/e2e/Comparison.spec.ts
  report-viewer/tests/e2e/OpenComparisonTest.spec.ts
  report-viewer/tests/unit/components/comparisonTable/ComparisonTable.test.ts
  report-viewer/tests/unit/components/comparisonTable/ComparisonTableFilter.test.ts
  report-viewer/tests/unit/model/factories/OverviewFactory.test.ts
Labels: enhancement, minor, report-viewer

#2278 Improve the JPlag API
  core/src/main/java/de/jplag/JPlagComparison.java
  core/src/main/java/de/jplag/JPlagResult.java
  core/src/main/java/de/jplag/Match.java
  core/src/main/java/de/jplag/Submission.java
  core/src/test/java/de/jplag/BaseCodeTest.java
  core/src/test/resources/de/jplag/samples/basecode-partial/A/TerrainType.java
  core/src/test/resources/de/jplag/samples/basecode-partial/B/TerrainType.java
Labels: bug, enhancement, minor

#2306 Make design more responsive
  report-viewer/src/App.vue
  report-viewer/src/components/ComparisonTableFilter.vue
  report-viewer/src/components/ComparisonsTable.vue
  report-viewer/src/components/ScrollableComponent.vue
  report-viewer/src/components/VersionRepositoryReference.vue
  report-viewer/src/components/fileDisplaying/CodePanel.vue
  report-viewer/src/components/fileDisplaying/FilesContainer.vue
  report-viewer/src/components/fileDisplaying/MatchList.vue
  report-viewer/src/components/optionsSelectors/OptionsSelectorComponent.vue
  report-viewer/src/viewWrapper/ClusterViewWrapper.vue
  report-viewer/src/viewWrapper/ComparisonViewWrapper.vue
  report-viewer/src/viewWrapper/InformationViewWrapper.vue
  report-viewer/src/viewWrapper/OverviewViewWrapper.vue
  report-viewer/src/views/ClusterView.vue
  report-viewer/src/views/ComparisonView.vue
  report-viewer/src/views/InformationView.vue
  report-viewer/src/views/OverviewView.vue
Labels: enhancement, minor, report-viewer

#2244 Switch GreedyStringTiling from IdentityHashMap to ConcurrentHashMap
  core/src/main/java/de/jplag/comparison/GreedyStringTiling.java
Labels: bug, minor

#2319 Hotfix: Prevent combining SMM with basecode
  core/src/main/java/de/jplag/JPlag.java
Labels: bug, minor

#2317 Develop Demo
  .github/workflows/report-viewer-dev-demo.yml
Labels: enhancement, minor, github_actions

#2326 Fix typos and grammar in the wiki
  README.md
  docs/1.-How-to-Use-JPlag.md
  docs/2.-Supported-Languages.md
  docs/3.-Contributing-to-JPlag.md
  docs/4.-Adding-New-Languages.md
  docs/5.-End-to-End-Testing.md
  docs/6.-Report-File-Generation.md
  docs/7.-Report-Viewer.md
  docs/8.-Clustering-of-Submissions.md
Labels: enhancement, minor, wiki

#2328 Fix deployment of dev demo
  .github/workflows/report-viewer-dev-demo.yml
  report-viewer/package.json
  report-viewer/vite.config.ts
Labels: bug, minor, report-viewer

#2293 Change report file ending to .jplag
  .github/workflows/complete-e2e.yml
  .github/workflows/report-viewer-demo.yml
  .gitignore
  README.md
  cli/src/main/java/de/jplag/cli/CLI.java
  cli/src/main/java/de/jplag/cli/options/CliOptions.java
  cli/src/main/java/de/jplag/cli/options/JPlagMode.java
  cli/src/main/java/de/jplag/cli/server/ContentType.java
  cli/src/main/java/de/jplag/cli/server/ReportViewer.java
  cli/src/test/java/de/jplag/cli/CheckResultFileWritableTest.java
  cli/src/test/java/de/jplag/cli/ResultFileTest.java
  core/src/main/java/de/jplag/reporting/reportobject/model/Version.java
  core/src/test/java/de/jplag/reporting/reportobject/ReportObjectFactoryTest.java
  docs/1.-How-to-Use-JPlag.md
  docs/6.-Report-File-Generation.md
  docs/7.-Report-Viewer.md
  report-viewer/.gitignore
  report-viewer/src/model/factories/BaseFactory.ts
  report-viewer/src/views/FileUploadView.vue
  report-viewer/tests/e2e/Cluster.spec.ts
  report-viewer/tests/e2e/Comparison.spec.ts
  report-viewer/tests/e2e/Distribution.spec.ts
  report-viewer/tests/e2e/Information.spec.ts
  report-viewer/tests/e2e/LandingPage.spec.ts
  report-viewer/tests/e2e/OpenComparisonTest.spec.ts
  report-viewer/tests/e2e/README.md
  report-viewer/tests/e2e/TestUtils.ts
  report-viewer/tests/e2e/assets/result_small_cluster.jplag
Labels: enhancement, minor

#2330 Fix dev demo not taking example files
  report-viewer/src/model/factories/BaseFactory.ts
  report-viewer/src/views/FileUploadView.vue
Labels: bug, minor, report-viewer

#2308 Reclassify language module maturity
  README.md
Labels: enhancement, minor, language

#2332 Ensure proper usage of .jplag ending
  cli/src/main/java/de/jplag/cli/server/ReportViewer.java
  cli/src/test/java/de/jplag/cli/ModeTest.java
Labels: bug, minor, report-viewer

#2333 Set JPlag revision to v6.1.0
  pom.xml
Labels: release

#2339 Improve code quality and fix minor issues
  cli/src/test/java/de/jplag/cli/OldNewRootDirectoriesArgumentTest.java
  cli/src/test/java/de/jplag/cli/ParamLabelRendererTest.java
  cli/src/test/java/de/jplag/cli/server/RoutingTreeTest.java
  core/src/main/java/de/jplag/JPlag.java
  core/src/main/java/de/jplag/JPlagResult.java
  core/src/main/java/de/jplag/SubmissionSet.java
  core/src/main/java/de/jplag/SubmissionSetBuilder.java
  core/src/main/java/de/jplag/clustering/IntegerMapping.java
  core/src/main/java/de/jplag/clustering/PreprocessedClusteringAlgorithm.java
  core/src/test/java/de/jplag/BaseCodeTest.java
  core/src/test/java/de/jplag/BasicFunctionalityTest.java
  core/src/test/java/de/jplag/RootFolderTest.java
  core/src/test/java/de/jplag/clustering/ClusterTest.java
  core/src/test/java/de/jplag/clustering/ClusteringAdapterTest.java
  core/src/test/java/de/jplag/clustering/algorithm/AgglomerativeClusteringTest.java
  core/src/test/java/de/jplag/clustering/algorithm/ClusteringData.java
  core/src/test/java/de/jplag/clustering/algorithm/GaussianProcessTest.java
  core/src/test/java/de/jplag/clustering/algorithm/SpectralClusteringTest.java
  core/src/test/java/de/jplag/clustering/preprocessors/CumulativeDistributionFunctionPreprocessorTest.java
  core/src/test/java/de/jplag/clustering/preprocessors/PreprocessingTestBase.java
  core/src/test/java/de/jplag/reporting/jsonfactory/TestableReportWriter.java
  core/src/test/java/de/jplag/reporting/reportobject/mapper/ClusteringResultMapperTest.java
  core/src/test/java/de/jplag/reporting/reportobject/mapper/ComparisonReportWriterTest.java
  core/src/test/java/de/jplag/reporting/reportobject/mapper/MetricMapperTest.java
Labels: enhancement, minor
