Repository jplag/JPlag, pull requests merged in 2025-01, with the labels that each got.

#2076 Implemented GreedyStringTiling workaround
  core/src/main/java/de/jplag/GreedyStringTiling.java
Labels: bug, minor

#2157 Use default vite port
  report-viewer/package.json
  report-viewer/playwright.config.ts
Labels: enhancement, minor, report-viewer

#2085 Add ability to open old report viewers
  cli/pom.xml
  cli/src/main/java/de/jplag/cli/server/ReportViewer.java
  cli/src/main/resources/v5/404.html
  cli/src/main/resources/v5/assets/index-Am0aIZbe.js
  cli/src/main/resources/v5/assets/index-Bjl4PqP3.css
  cli/src/main/resources/v5/assets/jplag-dark-transparent-CFFUeO4J.png
  cli/src/main/resources/v5/assets/jplag-light-transparent-js4pmEew.png
  cli/src/main/resources/v5/favicon.ico
  cli/src/main/resources/v5/index.html
  report-viewer/.gitignore
  report-viewer/src/App.vue
  report-viewer/src/model/Version.ts
  report-viewer/src/model/factories/OverviewFactory.ts
  report-viewer/src/router/index.ts
  report-viewer/src/viewWrapper/ClusterViewWrapper.vue
  report-viewer/src/viewWrapper/ComparisonViewWrapper.vue
  report-viewer/src/viewWrapper/InformationViewWrapper.vue
  report-viewer/src/viewWrapper/OverviewViewWrapper.vue
  report-viewer/src/views/OldVersionRedirectView.vue
  report-viewer/tests/e2e/OpenOldReport.spec.ts
  report-viewer/tests/e2e/TestUtils.ts
  report-viewer/tests/e2e/assets/progpedia-report-v4_0_0.zip
  report-viewer/tests/e2e/assets/progpedia-report-v4_2_0.zip
  report-viewer/tests/e2e/assets/progpedia-report-v5_1_0.zip
  report-viewer/tests/unit/model/factories/OverviewFactory.test.ts
Labels: enhancement, major, report-viewer

#2158 Add link for how to use Jplag
  report-viewer/src/views/FileUploadView.vue
Labels: enhancement, minor, report-viewer
